/** @define Grid; use strict */

/**
 * Grid
 *
 * Columned area within the main content
 */

@media (--md-viewport) {

  .Grid {
    display: flex;
    margin-left: -1.5em;
  }

  .Grid-item {
    flex: 1;
    margin: 0;
    padding-left: 1.5em;
  }
}
