/** @define Navigation; use strict */

/**
 * Navigation
 *
 */

.Navigation {
  background: var(--color-green);
  margin: 0;
}

.Navigation-inner {
  margin: 0;
  padding: 0;
}

.Navigation-item {
  border-bottom: 0.063em solid var(--color-green-dark);
  display: block;
  list-style: none;
  margin: 0;
  padding: 0.5em 5%;
}

.Navigation-item:last-child {
  border-bottom: 0;
}

.Navigation-itemInner {
  border-bottom-width: 0;
  border-left: 4px solid var(--color-green-dark);
  color: var(--color-white);
  display: block;
  font-size: 0.875em;
  margin: 0;
  padding: 0.125em 0 0.125em 1em;
  text-shadow: 0.063em 0.063em 0.125em var(--color-black-alpha);
}

.Navigation-itemInner::after {
  content: "\e600";
  float: right;
  font-family: var(--font-family-icon);
  top: 0;
}

.Navigation-itemInner:hover,
.Navigation-itemInner.is-active {
  border-left-color: var(--color-green-darker);
}

.Navigation-itemInner.is-active::after {
  content: "\e605";
}

/**
 * Large viewport
 */

@media (--lg-viewport) {
  .Navigation {
    border-top: 0.063em solid var(--color-white);
    box-shadow: 0 3px 0 var(--color-black-alpha-clear);
    position: relative;
  }

  .Navigation-inner {
    display: flex;
    justify-content: center;
    padding: 0.25em 0;
  }

  .Navigation-item {
    border-bottom: 0;
    margin: 0 0.35em;
    padding: 0.2em 0;
    position: relative;
  }

  .Navigation-itemInner {
    border-width: 0;
    margin: 0;
    padding: 0.4em 0.6em;
  }

  .Navigation-itemInner:hover,
  .Navigation-itemInner.is-active {
    background: var(--color-green-dark);
  }

  .Navigation-itemInner::after {
    content: "\00B7" !important;
    font-family: var(--font-family-serif);
    position: absolute;
    right: -0.5em;
    top: auto;
  }

  .Navigation-itemInner--end::after {
    display: none;
  }
}
