---
layout: default.hbs
lang: "en"
---
<header class="banner banner--campaign" id="banner" role="banner">
  <a class="banner__logo" href="./"><img alt="Rancho Esperanza" height="185" src="assets/images/logo.png" width="180"></a>
</header>

<div role="main">
  {{> body }}
</div>
