{% extends "base.html" %}

{% block body %}

<div class="Chrome-header">
  <header class="Header" id="banner" role="banner">
    <ul class="Header-inner">
      <li class="Header-item"><a class="Header-itemInner Icon Icon--language" href="index-es.html">En Español</a></li>
      <li class="Header-item Header-item--menu"><a class="Header-itemInner Icon Icon--menu" href="#navigation">Menu</a></li>
    </ul>
  </header>
</div>

<div class="Chrome-notification">
  <div class="Notification">
    <p class="Notification-inner">
      {#<strong>Hostel Manager</strong> and <strong>Surf & Yoga Instructor</strong> needed. <a class="Notification-link" href="employment.html">Find out more →</a>#}
      Holy Week (Semana Santa) is on the <strong>April 12th-15th</strong> this year. <a class="Notification-link" href="accommodation-and-food.html#semana-santa">Find out more →</a>
    </p>
  </div>
</div>

<div class="Chrome-main">
  <main class="Main" role="main">
    {% block main %}{% endblock %}
  </main>
</div>

<div class="Chrome-navigation">
  <nav class="Navigation" id="navigation" role="navigation">
    <ul class="Navigation-inner">
      <li class="Navigation-item">
        <a class="Navigation-itemInner{% if id == 'home' %} is-active{% endif %}" href="./">Home</a>
      </li>
      <li class="Navigation-item">
        <a class="Navigation-itemInner{% if id == 'about' %} is-active{% endif %}" href="about-jiquilillo.html">About Jiquilillo</a>
      </li>
      <li class="Navigation-item">
        <a class="Navigation-itemInner{% if id == 'projects'%} is-active{% endif %}" href="community-projects.html">Projects & Volunteering</a>
      </li>
      <li class="Navigation-item">
        <a class="Navigation-itemInner{% if id == 'prices'%} is-active{% endif %}" href="accommodation-and-food.html">Accommodation & Food</a>
      </li>
      <li class="Navigation-item">
        <a class="Navigation-itemInner{% if id == 'activities'%} is-active{% endif %}" href="activities-and-excursions.html">Activities & Excursions</a>
      </li>
      <li class="Navigation-item">
        <a class="Navigation-itemInner Navigation-itemInner--end{% if id == 'find'%} is-active{% endif %}" href="finding-us.html">Finding Us</a>
      </li>
    </ul>
  </nav>
</div>

{% include "../partials/complementary.html" %}

<div class="Chrome-footer">
  <footer class="Footer" role="contentinfo">
    <ul class="Footer-external">
      <li class="Footer-item Footer-item--facebook">
        <div class="Footer-facebook" data-widget="facebook">
          <a href="https://www.facebook.com/rancho.esperanza.jiquilillo">Find us on Facebook</a>
        </div>
      </li>
      <li class="Footer-item Footer-item--trip">
        <a class="Footer-link" href="http://www.tripadvisor.co.uk/Hotel_Review-g2167866-d1646502-Reviews-Rancho_Esperanza-Jiquilillo_Chinandega_Department.html">
          <img class="Footer-media" alt="Tripadvisor Certificate of Excellence 2016" height="126" src="assets/images/common-tripadvisor-2016.png" width="152">
          <img class="Footer-media" alt="Tripadvisor Certificate of Excellence 2015" height="126" src="assets/images/common-tripadvisor-2015.png" width="152">
          <img class="Footer-media" alt="Tripadvisor Certificate of Excellence 2014" height="126" src="assets/images/common-tripadvisor-2014.png" width="152">
          <img class="Footer-media" alt="Tripadvisor Certificate of Excellence 2013" height="126" src="assets/images/common-tripadvisor.png" width="152">
        </a>
      </li>
    </ul>

    <div class="Footer-body">
      <p>We have <a href="links-and-recommendations.html">recommendations</a> for other lodgings, restaurants, activities and volunteer opportunities in Nicaragua.</p>

      <p>The rancho is <a href="for-sale.html">for sale</a>, and is a wonderful opportunity for anyone interested in eco-tourism.</p>

      <p>We'd like to <a href="made-by.html">thank everyone</a> who helped with this website.</p>
    </div>
  </footer>
</div>

{% endblock %}
