---
layout: default.hbs
lang: "en"
---

<header class="banner" id="banner" role="banner">
  {{#is id "home"}}
  <div class="banner__branding">
    <img class="banner__logo" alt="Rancho Esperanza" height="200" src="assets/images/common-logo.png" width="200">
    <p class="banner__tagline">Jiquilillo&rsquo;s hostel with a conscience, where you can do a lot or a little and still make&nbsp;a&nbsp;difference</p>
  </div>
  {{/is}}
  <div class="banner__nav">
    <div class="banner__nav-inner">
      <a class="banner__lang-selector icon icon--language" href="index-es.html">En Español</a>
      <a class="banner__menu icon icon--menu" href="#navigation">Menu</a>
    </div>
  </div>
</header>

<div class="main" role="main">
  {{> body }}
</div>

<nav class="navigation" id="navigation" role="navigation">
  <ul class="navigation__inner">
    <li class="navigation__item{{#is id "home"}} is-active{{/is}}">
      <a class="navigation__item-inner" href="./">Home</a>
    </li>
    <li class="navigation__item{{#is id "about"}} is-active{{/is}}">
      <a class="navigation__item-inner" href="about-jiquilillo.html">About<span class="navigation__item-extra navigation__item-extra--about">&nbsp;Jiquilillo</span></a>
    </li>
    <li class="navigation__item{{#is id "projects"}} is-active{{/is}}">
      <a class="navigation__item-inner" href="community-projects.html"><span class="navigation__item-extra navigation__item-extra--projects">Community&nbsp;</span>Projects</a>
    </li>
    <li class="navigation__item{{#is id "volunteer"}} is-active{{/is}}">
      <a class="navigation__item-inner" href="volunteer-opportunities.html">Volunteer<span class="navigation__item-extra navigation__item-extra--volunteer">&nbsp;Opportunities</span></a>
    </li>
    <li class="navigation__item{{#is id "prices"}} is-active{{/is}}">
      <a class="navigation__item-inner" href="accommodation-and-food.html">Accommodation &amp; Food</a>
    </li>
    <li class="navigation__item{{#is id "activities"}} is-active{{/is}}">
      <a class="navigation__item-inner" href="activities-and-excursions.html">Activities<span class="navigation__item-extra navigation__item-extra--activities">&nbsp;&amp; Excursions</span></a>
    </li>
    <li class="navigation__item navigation__item--end{{#is id "find"}} is-active{{/is}}">
      <a class="navigation__item-inner" href="finding-us.html">Finding Us</a>
    </li>
  </ul>
</nav>

{{> complementary}}

<footer class="contentinfo" role="contentinfo">
  <div class="contentinfo__inner">
    <ul class="contentinfo__external">
      <li class="contentinfo__external-item contentinfo__external-item--facebook" data-widget="facebook"><a href="https://www.facebook.com/rancho.esperanza.jiquilillo">Find us on Facebook</a></li>
      <li class="contentinfo__external-item contentinfo__external-item--tripadvisor"><a href="http://www.tripadvisor.co.uk/Hotel_Review-g2167866-d1646502-Reviews-Rancho_Esperanza-Jiquilillo_Chinandega_Department.html"><img alt="Tripadvisor" height="213" src="assets/images/common-tripadvisor.png" width="152"></a></li>
    </ul>
    <p class="contentinfo__body contentinfo__body--made-by">This website, like almost everything at Rancho Esperanza, was a team effort. We'd like to thank <a href="made-by.html">everyone</a> who helped.</p>
    <p class="contentinfo__body">The rancho is <a href="for-sale.html">for sale</a>.</p>
  </div>
</footer>
