---
layout: default.hbs
lang: "en"
---
<header class="banner" id="banner" role="banner">
  <a class="banner__logo" href="./"><img alt="Rancho Esperanza" height="185" src="assets/images/logo.png" width="180"></a>
  <a class="banner__lang-selector icon icon--bubbles" href="index-es.html">En Español</a>
  <a class="banner__menu icon icon--menu" href="#navigation">Menu</a>
</header>

<div role="main">
  {{> body }}
</div>

<nav class="navigation" id="navigation" role="navigation">
  <ul class="navigation__inner">
    <li class="navigation__item{{#is id "home"}} is-active{{/is}}">
      <a href="./">Home</a>
    </li>
    <li class="navigation__item{{#is id "about"}} is-active{{/is}}">
      <a href="about-jiquilillo.html">About&nbsp;Jiquilillo</a>
    </li>
    <li class="navigation__item{{#is id "projects"}} is-active{{/is}}">
      <a href="community-projects.html">Community&nbsp;Projects</a>
    </li>
    <li class="navigation__item{{#is id "volunteer"}} is-active{{/is}}">
      <a href="volunteer-opportunities.html">Volunteer&nbsp;Opportunities</a>
    </li>
    <li class="navigation__item{{#is id "prices"}} is-active{{/is}}">
      <a href="accommodation-and-prices.html">Accommodation&nbsp;&amp;&nbsp;Prices</a>
    </li>
    <li class="navigation__item{{#is id "activities"}} is-active{{/is}}">
      <a href="activities-and-excursions.html">Activities&nbsp;&amp;&nbsp;Excursions</a>
    </li>
    <li class="navigation__item{{#is id "find"}} is-active{{/is}}">
      <a href="finding-us.html">Finding&nbsp;Us</a>
    </li>
  </ul>
</nav>

{{> complementary}}

<footer class="contentinfo" role="contentinfo">
  <p>The racho is <strong><a href="for-sale.html">for sale</a>!</strong></p>
  <ul class="contentinfo__external">
    <li class="contentinfo__external-item"><a class="icon icon--facebook" href="https://www.facebook.com/rancho.esperanza.jiquilillo">Latest news</a></li>
    <li class="contentinfo__external-item"><a class="icon icon--quill" href="http://www.tripadvisor.co.uk/Hotel_Review-g2167866-d1646502-Reviews-Rancho_Esperanza-Jiquilillo_Chinandega_Department.html">Guest reviews</a></li>
    <li class="contentinfo__external-item"><a class="icon icon--dollar" href="http://fnd.us/c/dOyBe">Donate</a></li>
  </ul>
  <p>This website, like everything at Rancho Esperanza, was a team effort. We'd like to thank <a href="made-by.html">everyone</a> who helped.</p>
</footer>
