---
layout: default.hbs
lang: "es"
---
<header class="banner banner--es" id="banner" role="banner">
  <img class="banner__logo" alt="Rancho Esperanza" height="170" src="assets/images/common-logo.png" width="179">
  <div class="banner__tagline">
    <p class="banner__tagline-inner">Donde puede hacer mucho o poco y todav&iacute;a hacer una diferencia.</p>
  </div>
  <div class="banner__nav">
    <div class="banner__nav-inner">
      <a class="banner__lang-selector icon icon--language" href="index.html">English site</a>
    </div>
  </div>
</header>

<div class="main" role="main">
  {{> body }}
</div>

{{> complementary}}
