{% extends "base.html" %}

{% block body %}

<div class="Chrome-header">
  <header class="Header" id="banner" role="banner">
    <ul class="Header-inner">
      <li class="Header-item"><a class="Header-itemInner Icon Icon--language" href="index.html">English site</a></li>
    </ul>
  </header>
</div>

{#
<div class="Chrome-notification">
  <div class="Notification">
    <p class="Notification-inner">
      Estamos cerrados actualmente, debido al clima severo.
    </p>
  </div>
</div>
#}

<div class="Chrome-main">
  <div class="Main" role="main">
    {% block main %}{% endblock %}
  </div>
</div>

{% include "../partials/complementary.html" %}

{% endblock %}
