---
layout: default.hbs
lang: "es"
---

<header class="banner banner--es" id="banner" role="banner">
  <div class="banner__nav">
    <div class="banner__nav-inner">
      <a class="banner__lang-selector icon icon--language" href="index.html">English site</a>
    </div>
  </div>
<!--
  <div class="banner__alert">
    <div class="banner__alert-inner">
      <strong>16 a 19 abril</strong> es Semana Santa: <a href="#semana-santa">alojamiento, alimento y actividades detalles &rarr;</a>
    </div>
  </div>
-->
</header>

<div class="main" role="main">
  {{> body }}
</div>

{{> complementary}}
