---
layout: default.hbs
lang: "es"
---
<header class="banner banner--es" id="banner" role="banner">
  <a class="banner__logo" href="./"><img alt="Rancho Esperanza" height="185" src="assets/images/logo.png" width="180"></a>
  <a class="banner__lang-selector icon icon--bubbles" href="index.html">English site</a>
</header>

{{> body }}

<div class="complementary" role="complementary">
  <ul class="complementary__inner">
    <li class="complementary__item"><a class="icon icon--phone" href="tel:+50588791795">+505 8 879 1795</a></li>
    <li class="complementary__item"><a class="icon icon--envelop" href="mailto:hola@rancho-esperanza.com">hola@rancho-esperanza.com</a></li>
  </ul>
</div>