---
layout: default.hbs
lang: "es"
---
<header class="banner banner--es" id="banner" role="banner">
  <a class="banner__logo" href="./"><img alt="Rancho Esperanza" height="185" src="assets/images/logo.png" width="180"></a>
  <a class="banner__lang-selector icon icon--bubbles" href="index.html">English site</a>
</header>

{{> body }}