---
layout: default.hbs
lang: "es"
---

<header class="banner banner--es" id="banner" role="banner">
  <div class="banner__nav">
    <div class="banner__nav-inner">
      <a class="banner__lang-selector icon icon--language" href="index.html">English site</a>
    </div>
  </div>
  <div class="banner__alert">
    <div class="banner__alert-inner">
      Estamos cerrados actualmente, debido al clima severo.
    </div>
  </div>
</header>

<div class="main" role="main">
  {{> body }}
</div>

{{> complementary}}
