{% extends "./templates/layouts/en.html" %}

{% set id = "about" %}
{% set title = "About Jiquilillo & The Rancho" %}
{% set description = "Jiquilillo is a small fishing community located on the northern Pacific coast of Nicaragua." %}

{% block main %}

<h1>About Jiquilillo &amp; The Rancho</h1>

<figure class="figure figure--270x360 figure--pull-right">
  <div class="figure__media">
    <img alt="" height="360" src="assets/images/photo-about-street.jpg" width="270">
  </div>
  <figcaption>The community of Jiquilillo.</figcaption>
</figure>

<p>Jiquilillo is one of three small fishing communities situated on the peninsula of Punta Caliente, located in the Department of Chinandega. It is surrounded by the Padre Ramos Estuary (part of the largest estuary system in Central America) and the Pacific Ocean. Jiquilillo is home to approximately 135 families, with an average of four to five children per family. Therefore, although the village may appear small, a large amount of people actually live here. The majority of the families live in small ranchos (palm roof huts), the typical Nicaraguan home of this region. Families have traditionally relied on the fishing industry as the main source of income.</p>

<p>Jiquilillo&rsquo;s past is a bit rocky and includes tsunamis and hurricanes reeking havoc along the coast. In 1992 a Tsunami destroyed six blocks of the village. Villagers, although devastated, began to rebuild only to encounter Hurricane Mitch in 1998, causing even more damage. Thankfully, the people of the community are dedicated and full of life and have been slowly rebuilding and reaffirming their roots here in the community.</p>

<figure class="figure figure--320x240 figure--pull-left">
  <div class="figure__media">
    <img alt="" height="240" src="assets/images/photo-about-ramos.jpg" width="320">
  </div>
  <figcaption>Shana at the tidal pools of Padre Ramos.</figcaption>
</figure>

<p>Village life is quiet and laid back; the people are friendly and welcoming. As Jiquilillo is small and located in the &ldquo;<em>campo</em>&rdquo; (countryside) there are only a few services available throughout the village. Only a handful of tiny pulperias exist offering sodas, snacks, cigarettes, rum, and essentials like soap, shampoo, etc&hellip; There is a seasonal fruit stand and a couple small restaurants, including locally-run restaurant and bar &ldquo;Vista del Pacifico&rdquo;.</p>

<h2>Surrounding area</h2>

<p>Jiquilillo features miles of beautiful beach. A 20-minute walk down the road will take you to the community of Los Zorros. Here you will find more restaurants,  including &ldquo;Tina Mata&rsquo;s&rdquo; where good food and drinks are served daily. An hour walk north along the beach from Jiquilillo will take you to the community of Padre Ramos. Padre Ramos is located on the beautiful mouth of the estuary and has several restaurants including &ldquo;Los Ranchos&rdquo; and &ldquo;Bar Zulema&rdquo;. &ldquo;Los Ranchos&rdquo; is home to the women&rsquo;s jewelry cooperative.</p>

<figure class="figure figure--270x360 figure--pull-right">
  <div class="figure__media">
    <img alt="" height="360" src="assets/images/photo-about-beach.jpg" width="270">
  </div>
  <figcaption>The beautiful beach of Jiquilillo.</figcaption>
</figure>

<p>Three hours north of Jiquilillo, with a turquoise crater lake and stunning views of Honduras, El Salvador, and the Gulf of Fonseca, is Volcano Cosig&uuml;ina. We can <a href="activities-and-excursions.html" title="Find out more about our activities and excursions">organize guided tours</a> to the volcano, but it is possible to use local bus services and visit the volcano independently from Potosi or the quiet town of Cosig&uuml;ina. Both towns offer affordable accommodation for travelers and nearby natural hot springs and pools are accessible in a day&rsquo;s hike.  It is now possible to reach <a href="finding-us.html#la-union" title="Find out how to reach Potosi from El Salvador">Potosi directly via boat</a> from El Salvador.</p>

<p>The nearest cities to Jiquilillo are El Viejo and Chinandega located approximately two hours south via bus or one hour by car or truck. El Viejo and Chinandega offer facilities including banks, pharmacies, and grocery stores.</p>

<h2>Weather</h2>

<p>The weather in Nicaragua is always hot, regardless of the time of year. The months of November through May are considered dry season, with almost no rain what-so-ever; June through August is the beginning of rainy season with an occasional evening shower; the brunt of the rainy season is September and October when it can rain off-and-on for weeks at a time.</p>

<p>Temperatures typically stay in the high 80&rsquo;s mid 90&rsquo;s throughout the day; in the evenings temperatures rarely dip below mid 60&rsquo;s. Thanks to our coastal location we have the benefits of the refreshing sea breeze, and the ocean is always at hand to cool off.</p>

<h2>Origins of Rancho Esperanza</h2>

<p>The idea for Rancho Esperanza was born when Nathan Yue came to Jiquilillo as a volunteer in 2001. He lived and worked here for a year as a health promoter with a project funded by a small NGO. He worked alongside local health worker, Do&ntilde;a Francisca, and the community members of Jiquilillo to build wells, latrines, coordinate beach clean ups, and provide basic health and hygiene education.</p>

<figure class="figure figure--270x360 figure--pull-right">
  <div class="figure__media">
    <img alt="" height="360" src="assets/images/photo-about-nate.jpg" width="270">
  </div>
  <figcaption>Nate "Nato" Yue in the after school Kids Club program.</figcaption>
</figure>

<p>Problems with funding meant the NGO pulled out of the community. But Nate, having already fallen in love with the area and its community members, resolved to find a way to continue helping the village.</p>

<p>In October 2004 construction began, and in 2005 Rancho Esperanza opened its doors to the public. By combining <a href="activities-and-excursions.html" title="Find out more about our community-based tours">community development and tourism</a>, Nate has been able to show travelers, guests, and <a href="community-projects.html" title="Find out more about becoming a volunteer">volunteers</a> the real Nicaragua he is so passionate about, while continuously benefiting the community.</p>

<p>Rancho Esperanza is Nate&rsquo;s dream, but its realization has been achieved through the work of many talented, inspirational, and just plain hardworking people. It&rsquo;s the characters you meet here that make the experience. Without the ideas, input, and inspiration of community members, guests, and <a href="community-projects.html" title="Find out more about becoming a volunteer">volunteers</a>, Rancho Esperanza would not exist.</p>

<aside class="call-to-action">
  <ul class="call-to-action__items">
    <li class="call-to-action__item"><a class="call-to-action__item-inner" href="community-projects.html">Find out more about our Community Projects &amp; Volunteer/Internship Opportunities</a>
    </li>
  </ul>
</aside>

{% endblock %}
