---
id: prices
title: "Accommodation & Food"
description: "We offers cabins, camping, dormitories, restaurant, and bar in Nicaragua"
---

<h1>Accommodation &amp; Food</h1>

<!--
<div class="alert" id="semana-santa">

  <h2>Holy Week (Semana Santa)<br>April 16th-19th</h2>

  <table>
    <caption>Caba&ntilde;a rates</caption>
    <thead class="is-visually-hidden">
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Cost in USD</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Basic Caba&ntilde;a</td>
        <td>$55 </td>
      </tr>
      <tr>
        <td>Caba&ntilde;a with private toilet</td>
        <td>$65 </td>
      </tr>
      <tr>
        <td>Caba&ntilde;a with private shower</td>
        <td>$75 </td>
      </tr>
      <tr>
        <td>Large Caba&ntilde;a </td>
        <td>$105</td>
      </tr>
    </tbody>
  </table>

  <p>All caba&ntilde;as sleep four people, and we will permit up to 6 people per caba&ntilde;a. The Large Caba&ntilde;a sleeps six people, and we will permit up to 10 people per caba&ntilde;a. A bed in the main dorm is $15.</p>

  <p>During this time, we will not be serving communal meals, offering tours, or surf rentals/lessons.  We will serve Nicaraguan food and bar service.</p>

  <p>We will only offer housing on April 20 and 21. Our restaurant will be closed during this time and we will not be offering any tour services.  From April 22 onward, the hotel will be functioning as normal.</p>

  <p>For more information or to make a reservation, please call <a class="icon icon--inline icon--phone nowrap" href="tel:88791795">8879-1795</a></p>

</div>
-->

<p>We are reducing our hostel and restaurant footprint by composting toilet and kitchen waste, being mindful of our water usage, recycling the water we do use via our grey-water system, and maximizing the use of local and natural materials in our buildings.</p>

<figure class="figure figure--320x240 figure--pull-left">
  <div class="figure__media">
    <img alt="" height="240" src="assets/images/photo-accom-rancho.jpg" width="320">
  </div>
  <figcaption>Inside the main rancho.</figcaption>
</figure>

<p>The open sided, palm roofed main rancho is the center of Esperanza life. Spacious and airy, it has a large hammock lounge, communal dining area and plenty of space for doing your own thing. If you can tear yourself away from the beach we have a library with a great selection of hundreds of books, in English, Spanish, and other languages, as well as a large selection of board games, two guitars, and a drum.</p>

<h2>Sleeping</h2>

<figure class="figure figure--320x240 figure--pull-right">
  <div class="figure__media">
    <img alt="" height="240" src="assets/images/photo-accom-cabana.jpg" width="320">
  </div>
  <figcaption>Inside a low impact caba&ntilde;a.</figcaption>
</figure>

<p>You have the choice of two dormitories each sleeping six, seven private bamboo caba&ntilde;as sleeping up to four, and spacious grounds providing shaded camp sites for your tent or hammock.</p>

<p>You&rsquo;ll get a great night&rsquo;s sleep on our comfortable mattresses in our bamboo caba&ntilde;as that let the sea breeze in!</p>

<p>Two of our caba&ntilde;as have spacious private showers and toilets (made from recycled glass bottles), and we have another caba&ntilde;a with a private toilet. All of our caba&ntilde;as have personal palm-covered hammock areas where you can relax in your own space.</p>

<div class="l-columns l-columns--70-30">
  <div class="l-columns__primary">
    <table>
      <caption>Guest rate</caption>
      <thead class="is-visually-hidden">
        <tr>
          <th scope="col">Type</th>
          <th scope="col">Cost in USD</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Hammock/Camping</td>
          <td>$5</td>
        </tr>
        <tr>
          <td>Upper Dormitory</td>
          <td>$8</td>
        </tr>
        <tr>
          <td>Main (quiet) Dormitory</td>
          <td>$10.25</td>
        </tr>
       <tr>
          <td>Caba&ntilde;a 1 person</td>
          <td>$20 <br>$22 /w private toilet <br>$28 /w private toilet &amp; shower</td>
        </tr>
        <tr>
          <td>Caba&ntilde;a 2 people</td>
          <td>$25 <br>$28 /w private toilet <br>$35 /w private toilet &amp; shower</td>
        </tr>
        <tr>
          <td>Caba&ntilde;a 3 people</td>
          <td>$32 <br>$35 /w private toilet <br>$42 /w private toilet &amp; shower</td>
        </tr>
        <tr>
          <td>Caba&ntilde;a 4 people</td>
          <td>$35 <br>$39 /w private toilet <br>$44 /w private toilet &amp; shower</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="l-columns__secondary">
    <table>
      <caption>Volunteer rate</caption>
      <thead class="is-visually-hidden">
        <tr>
          <th scope="col">Type</th>
          <th scope="col">Cost in USD</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Hammock/Camping</td>
          <td>$4</td>
        </tr>
        <tr>
          <td>Upper Dormitory</td>
          <td>$6</td>
        </tr>
        <tr>
          <td>Main Dormitory</td>
          <td>$8.25</td>
        </tr>
        <tr>
          <td>Caba&ntilde;a 1 person</td>
          <td>$17.25</td>
        </tr>
        <tr>
          <td>Caba&ntilde;a 2 people</td>
          <td>$23</td>
        </tr>
        <tr>
          <td>Caba&ntilde;a 3 people</td>
          <td>$29</td>
        </tr>
        <tr>
          <td>Caba&ntilde;a 4 people</td>
          <td>$32</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<p>We also offer weekly rates for guests with meals, accommodation, and water all included. If you commit to a two week stay, you will receive 10% off of your second weeks accommodation:</p>

<table>
  <caption>Guest weekly Caba&ntilde;a rate</caption>
  <thead class="is-visually-hidden">
    <tr>
      <th scope="col">Type</th>
      <th scope="col">Cost in USD</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1 person in a private Caba&ntilde;a</td>
      <td>$234.50</td>
    </tr>
    <tr>
      <td>2 people in a private Caba&ntilde;a</td>
      <td>$364</td>
    </tr>
    <tr>
      <td>3 people in a private Caba&ntilde;a</td>
      <td>$507.50</td>
    </tr>
    <tr>
      <td>4 people in a private Caba&ntilde;a</td>
      <td>$623</td>
    </tr>
  </tbody>
</table>

<div class="call-to-action">
  {{> call-to-action }}
</div>

<h2>Eating</h2>

<p>We source the majority of our produce and food locally: our fresh fish comes from the local fishermen, milk and cheese comes from our neighbor&rsquo;s farm, in-season fruits are often purchased from local families, and our vegetables come from Chinandega&rsquo;s open-air municipal market.</p>

<figure class="figure figure--270x360 figure--pull-right">
  <div class="figure__media">
    <img alt="" height="360" src="assets/images/photo-accom-food.jpg" width="270">
  </div>
  <figcaption>A fresh Rancho Esperanza breakfast.</figcaption>
</figure>

<p>We serve three meals a day for our guests and volunteers, specializing in vegetarian, Asian, and Nicaraguan cuisine.</p>

<p>We begin serving breakfast at 7:30am and it is served ALL DAY! Choices include a large fruit plate, bagels, waffles, oatmeal, yogurt and granola, and eggs. Bottomless mugs of tea and great ecological coffee are served for $.75 until 10:30am.</p>

<p>Lunches and dinners are served family style at our large dining table with a vegetarian option always available. Dinner is the main meal of the day here and we keep it healthy and hearty with lots of vegetables and homemade sauces.</p>

<p>We offer a snack menu and local venders pass through selling fresh mangos, coconut bread, pasteles (little pastries), and, if we&rsquo;re lucky, the occasional ice cream.</p>

<div class="l-columns">
  <div class="l-columns__primary">
    <table>
      <caption>Food prices</caption>
      <thead class="is-visually-hidden">
        <tr>
          <th>Type</th>
          <th>Cost in USD</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Breakfast</td>
          <td>$3.50 - $4.50</td>
        </tr>
        <tr>
          <td>Lunch</td>
          <td>$3.75</td>
        </tr>
        <tr>
          <td>Dinner</td>
          <td>$5</td>
        </tr>
        <tr>
          <td>3/4 - 1 Pound Fish</td>
          <td>$5.50 - $6.50</td>
        </tr>
        <tr>
          <td>Snack Menu</td>
          <td>$0.50 - $2</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="l-columns__secondary">
    <table>
      <caption>Beverages prices</caption>
      <thead class="is-visually-hidden">
        <tr>
          <th>Type</th>
          <th>Cost in USD</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Colas / Juice</td>
          <td>$0.90</td>
        </tr>
        <tr>
          <td>Fruit Smoothies &amp; Shakes</td>
          <td>$2 - $3</td>
        </tr>
        <tr>
          <td>Small Beers</td>
          <td>$1.25</td>
        </tr>
        <tr>
          <td>Large Beers</td>
          <td>$2.10</td>
        </tr>
        <tr>
          <td>Rum Flor de Ca&ntilde;a</td>
          <td>(varies)</td>
        </tr>
        <tr>
          <td>Purified Water</td>
          <td>$1.25 (per day)</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<p>We accept c&oacute;rdobas, crisp dollar bills ($50 bills or smaller), and MasterCard &amp; VISA (with a 7% surcharge).  There are <strong>no ATMs or banks</strong> in Jiquilillo, the nearest ATM is in Chinandega. There can be a 2% discrepancy in all listed prices due to fluctuations in the exchange rate.</p>

<aside class="call-to-action">
  {{> call-to-action }}
  <ul class="call-to-action__items l-columns">
    <li class="call-to-action__item l-columns__primary"><a class="call-to-action__item-inner" href="activities-and-excursions.html">Find out more about the activities and excursions we offer</a></li>
    <li class="call-to-action__item l-columns__secondary"><a class="call-to-action__item-inner" href="finding-us.html">Get directions to the rancho from Chinandega, Leon, and Managua</a>
  </ul>
</aside>
