{% extends "./templates/layouts/en.html" %}

{% set id = "prices" %}
{% set title = "Accommodation & Food" %}
{% set description = "We offers cabins, camping, dormitories, restaurant, and bar in Nicaragua" %}

{% block main %}

<h1>Accommodation & Food</h1>

<p>We are reducing our hostel and restaurant footprint by composting toilet and kitchen waste, being mindful of our water usage, recycling the water we do use via our grey-water system, and maximizing the use of local and natural materials in our buildings.</p>

<figure class="Figure Figure--320x240 Figure--pullLeft">
  <div class="Figure-media">
    <img alt="" height="240" src="assets/images/photo-accom-rancho.jpg" width="320">
  </div>
  <figcaption>
    <p>Inside the main rancho.</p>
  </figcaption>
</figure>

<p>The open sided, palm roofed main rancho is the center of Esperanza life. Spacious and airy, it has a large hammock lounge, communal dining area, and plenty of space for doing your own thing. If you can tear yourself away from the beach we have a library with a great selection of hundreds of books, in English, Spanish, and other languages, as well as a large selection of board games, playing cards, poi, and two guitars.</p>

<h2>Sleeping</h2>

<figure class="Figure Figure--320x240 Figure--pullRight">
  <div class="Figure-media">
    <img alt="" height="240" src="assets/images/photo-accom-cabana.jpg" width="320">
  </div>
  <figcaption>
    <p>Inside a low impact cabaña.</p>
  </figcaption>
</figure>

<p>You have the choice of two dormitories each sleeping six, seven private bamboo cabañas sleeping up to four, and spacious grounds providing camp sites for your tent or hammock.</p>

<p>You'll get a great night's sleep on our comfortable mattresses in our bamboo cabañas that let the sea breeze in! Four of our cabañas have spacious private showers and toilets (made from recycled glass bottles). All of our cabañas have personal palm-covered hammock areas where you can relax in your own space.</p>

<p>The main dorm is a loft located above the common space in the main Rancho. The quiet dorm is a separate cabaña with six beds and quiet hours that begin at 9:30 p.m. Each dorm bed has a mosquito net and all the dorms have fans and lockboxes for your belongings.</p>

<table>
  <caption>Guest rate</caption>
  <colgroup>
    <col style="width:50%">
    <col style="width:50%">
  </colgroup>
  <thead class="is-visuallyHidden">
    <tr>
      <th scope="col">Type</th>
      <th scope="col">Cost in USD</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Hammock/Camping</td>
      <td>$5</td>
    </tr>
    <tr>
      <td>Upper (Main) Dormitory</td>
      <td>$8</td>
    </tr>
    <tr>
      <td>Quiet Dormitory</td>
      <td>$10.50</td>
    </tr>
    <tr>
      <td>Cabaña 1 person</td>
      <td>$22 <br>$29 /w private bathroom</td>
    </tr>
    <tr>
      <td>Cabaña 2 people</td>
      <td>$25 <br>$35.75 /w private bathroom</td>
    </tr>
    <tr>
      <td>Cabaña 3 people</td>
      <td>$32.75 <br>$43 /w private bathroom</td>
    </tr>
    <tr>
      <td>Cabaña 4 people</td>
      <td>$35.75 <br>$46 /w private bathroom</td>
    </tr>
  </tbody>
</table>

<table>
<caption>Guest weekly Cabaña and Dorm rates</caption>

<p>We offer discounted weekly rates for guests with three meals per day, accommodation, and water all included. The rates listed include seven nights stay and 10% off food and water. If you commit to a two week stay, you will receive 10% off of your second week of accommodation. All prices include a 2% tax implemented by the Ministry of Tourism.</p>

  <colgroup>
    <col style="width:50%">
    <col style="width:50%">
  </colgroup>
  <thead class="is-visuallyHidden">
    <tr>
      <th scope="col">Type</th>
      <th scope="col">Cost in USD</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1 person in the main dorm</td>
      <td>$147.35 ($21.05 per day)</td>
    </tr>
    <tr>
      <td>1 person in the quiet dorm</td>
      <td>$164.85 ($23.55 per day)</td>
    </tr>
    <tr>
      <td>1 person in a private Cabaña</td>
      <td>$244.48 ($34.93 per day)</td>
    </tr>
    <tr>
      <td>1 person in a private Cabaña /w bathroom</td>
      <td>$293.48 ($41.93 per day)</td>
    </tr>
    <tr>
      <td>2 people in a private Cabaña</td>
      <td>$355.95 ($177.96 per person)</td>
    </tr>
    <tr>
      <td>2 people in a private Cabaña /w bathroom</td>
      <td>$431.20 ($215.60 per person)</td>
    </tr>
    <tr>
      <td>3 people in a private Cabaña</td>
      <td>$500.69 ($166.90 per person)</td>
    </tr>
    <tr>
      <td>3 people in a private Cabaña /w bathroom</td>
      <td>$572.44 ($190.81 per person)</td>
    </tr>
    <tr>
      <td>4 people in a private Cabaña</td>
      <td>$612.17 ($153.04 per person)</td>
    </tr>
    <tr>
      <td>4 people in a private Cabaña /w bathroom</td>
      <td>$683.92 ($170.98 per person)</td>
    </tr>
  </tbody>
</table>

<p>We also cater, and give discounts, to groups and private events. Please inquire for more details.</p>

<div class="CallToAction">
  {% include "./templates/partials/call-to-action.html" %}
</div>

<h2>Eating</h2>

<p>We source the majority of our produce and food locally: our fresh fish comes from the local fishermen, milk and cheese comes from our neighbor's farm, in-season fruits are often purchased from local families, and our vegetables come from Chinandega's open-air municipal market.</p>

<figure class="Figure Figure--270x360 Figure--pullRight">
  <div class="Figure-media">
    <img alt="" height="360" src="assets/images/photo-accom-food.jpg" width="270">
  </div>
  <figcaption>
    <p>A fresh Rancho Esperanza breakfast.</p>
  </figcaption>
</figure>

<p>We serve three meals a day for our guests and volunteers, specializing in vegetarian, Asian, and Nicaraguan cuisine.</p>

<p>We begin serving breakfast at 7:30am and it is served ALL DAY! Choices include a large fruit plate, bagels, waffles, oatmeal, yogurt and granola, and eggs. Bottomless mugs of tea and great ecological coffee are served for $1 until 10:30am.</p>

<p>Lunches and dinners are served family style at our large dining table with a vegetarian option always available. Dinner is the main meal of the day here and we keep it healthy and hearty with lots of vegetables and homemade sauces.</p>

<p>We offer a snack menu and local venders pass through selling fresh mangos, coconut bread, pasteles (little pastries), and, if we're lucky, the occasional ice cream.</p>

<div class="Grid">
  <div class="Grid-item">
    <table>
      <caption>Food prices</caption>
      <thead class="is-visuallyHidden">
        <tr>
          <th>Type</th>
          <th>Cost in USD</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Breakfast</td>
          <td>$3.75 - $4.50</td>
        </tr>
        <tr>
          <td>Lunch</td>
          <td>$3.75</td>
        </tr>
        <tr>
          <td>Dinner</td>
          <td>$5</td>
        </tr>
        <tr>
          <td>3/4 - 1 Pound Fish</td>
          <td>$6.50</td>
        </tr>
        <tr>
          <td>Snack Menu</td>
          <td>$0.50 - $2</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="Grid-item">
    <table>
      <caption>Beverages prices</caption>
      <thead class="is-visuallyHidden">
        <tr>
          <th>Type</th>
          <th>Cost in USD</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Sodas</td>
          <td>$1</td>
        </tr>
        <tr>
          <td>Fruit Smoothies & Shakes</td>
          <td>$2 - $4</td>
        </tr>
        <tr>
          <td>Small Beers</td>
          <td>$1.25</td>
        </tr>
        <tr>
          <td>Large Beers</td>
          <td>$2.10</td>
        </tr>
        <tr>
          <td>Rum Flor de Caña</td>
          <td>From $4</td>
        </tr>
        <tr>
          <td>Purified Water</td>
          <td>$1.25 (per day)</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<p>We accept córdobas, crisp dollar bills ($50 bills or smaller), and MasterCard & VISA (with a 7% surcharge).  There are <strong>no ATMs or banks</strong> in Jiquilillo, the nearest ATM is in Chinandega. There can be a 2% discrepancy in all listed prices due to fluctuations in the exchange rate.</p>

<aside class="CallToAction">
  {% include "./templates/partials/call-to-action.html" %}
</aside>

<nav class="WayFinder WayFinder--fork">
  <ul class="WayFinder-inner">
    <li class="WayFinder-item">
      <h4 class="WayFinder-itemTitle Icon Icon--surfing">Activities & Excursions</h4>
      <p class="WayFinder-itemBody">We work with local families to offer you fun activities and cultural excursion</p>
      <a class="WayFinder-itemLink" href="activities-and-excursions.html">Find out more</a>
    </li>
    <li class="WayFinder-item WayFinder-item--end">
      <h4 class="WayFinder-itemTitle Icon Icon--signpost">Finding Us</h4>
      <p class="WayFinder-itemBody">Buses and taxis from Managua, Leon, Chinandega and a boat from El Salvador</p>
      <a class="WayFinder-itemLink" href="finding-us.html">Get directions</a>
    </li>
  </ul>
</nav>

{% endblock %}
