---
id: activities
title: "Activities & Excursions"
description: "We and the community offer surfing, kayaking, boats tours and community excursions like tortilla making."
---

<h1>Activities &amp; Excursions</h1>

<figure class="figure figure--320x240 figure--pull-right">
  <div class="figure__media">
    <img alt="" height="240" src="assets/images/photo-activities-rental.jpg" width="320">
  </div>
  <figcaption>Guest Kirsten renting a board for a sunset surf.</figcaption>
</figure>

<p>We work with local families and businesses to offer you fun activities and illuminating cultural excursions in and around the community of Jiquilillo.</p>

<p>Jiquilillo has a beautiful beach with pickup soccer games, baseball games, great waves, and incredible sunsets. We have sports equipment to jump in the games and surfboards to catch the waves.</p>

<h2 id="surfing">Surfing</h2>

<figure class="figure">
  <div class="figure__media">
    <img alt="" height="330" src="assets/images/photo-activities-surfing.jpg" width="660">
  </div>
  <figcaption>Nate on a mellow left beach break in front of Rancho Esperanza.</figcaption>
</figure>

<p>There are good waves in Jiquilillo and they are ideal for beginner and intermediate surfers. You can be sure that the waves are uncrowded and friendly, where you will be practicing your turns with both fellow guests and local kids. We offer a number of surf services for our guests and volunteers:</p>

<p><strong>Board rentals:</strong> We offer $10 board rentals.  In total we have nineteen surfboards to choose from.  They range from 5'10" short boards to 8' long boards, and include five beginner boards (two of which are foam-top) that are great fun to learn on. </p>

<figure class="figure figure--320x240 figure--pull-right">
  <div class="figure__media">
    <img alt="" height="240" src="assets/images/photo-activities-offshore.jpg" width="320">
  </div>
  <figcaption>Heading out for offshore surfing.</figcaption>
</figure>

<p><strong>Surf lessons:</strong> We offer surf lessons in Spanish with a local surfer or, when available, in English with a <a href="community-projects.html#surf-club" title="Find out more about Surf Club">Surf Club</a> volunteer or Nate. A one-hour lesson is $10. This does not include board rental.</p>

<p><strong>Offshore boat ferries:</strong> We work directly with local fishermen to provide boat ferries to offshore breaks and nearby beaches such as Boom Wavos located in Asseradores and the off shore point break on Isla Asseradores.  Boat ferry services begin at $100.</p>

<p><strong>Ding repair:</strong> Through our <a href="community-projects.html#surf-club" title="Find out more about Surf Club">Surf Club</a> we offer ding repairs for epoxy and fiberglass boards. Ding repairs start at $40 which, minus the cost of materials, goes to the <a href="community-projects.html#surf-club" title="Find out more about Surf Club">Surf Club</a> participant repairing the board.</p>

<p>If you want to check out the surf report before you head down, visit  <a href="http://www.surf-forecast.com/breaks/Jiquilillo/forecasts/latest/six_day">www.surf-forecast.com</a></p>

<h2>Hiking trips to Volcano Cosig&uuml;ina</h2>

<figure class="figure figure--320x240 figure--pull-right">
  <div class="figure__media">
    <img alt="" height="240" src="assets/images/photo-activities-volcano.jpg" width="320">
  </div>
  <figcaption>Hiking up Volcano Cosig&uuml;ina to the breath-taking views and the majestic crater lake.</figcaption>
</figure>

<p>You have two choices to explore the volcano and view it&rsquo;s majestic turquoise crater lake. One option is to use the local tourism cooperative who will arrange transportation to and from the volcano entering from the town of Cosig&uuml;ina.</p>

<p>The second option involves taking the local bus and spending the night at Brisas de Gulfo, a local family run hotel in Potosi. Rafael, the hotel owner, can arrange for you to hike with local guides.</p>

<h2>Kayaking</h2>

<figure class="figure figure--320x240 figure--pull-right">
  <div class="figure__media">
    <img alt="" height="240" src="assets/images/photo-activities-kayaking.jpg" width="320">
  </div>
  <figcaption>Kayaking on Estuary Padre Ramos.</figcaption>
</figure>

<p>Ibis Kayaking, owned and operated by biologist Jennifer Shulzitski, leads kayaking trips throughout the mangrove lined estuary.</p>

<p>The tours are guided by Jennifer and local fisherman David, who are knowledgeable about the local flora and fauna within the estuary. Tours are available in both Spanish and English. <a href="http://ibiskayaking.com/">www.ibiskayaking.com</a></p>

<h2 id="cultural-excursions">Cultural excursions</h2>

<p>These excursions are led by local women and young adults and are used as a way to share a bit of their culture and traditions with travelers passing through this area.  Proceeds go directly to your guide.  Some examples of the cultural excursions include: </p>

<figure class="figure figure--320x240 figure--pull-right">
  <div class="figure__media">
    <img alt="" height="240" src="assets/images/photo-activities-tortilla.jpg" width="320">
  </div>
  <figcaption>Nate and Ryan learning the ways of homemade tortillas with Do&ntilde;a Chapita.</figcaption>
</figure>

<p><strong>Tortilla making:</strong> Our neighbor Do&ntilde;a Chapita will invite you into her home where you will learn how to transform corn kernels into steaming hot tortillas.  Once finished you will enjoy your creation with a tasty snack of tortillas and cheese, Nica style.</p>

<p><strong>Community tour:</strong> Led by health promoter Do&ntilde;a Francisca Davila you will have the opportunity to meet Francisca&rsquo;s family and visit her home.  The community tour will take you through the streets of Jiquilillo to discover the lifestyles of the local people.  This will include exploring the school and learning more about the local economy, including fishing and farming.</p>

<p><strong>Coconut tree climbing:</strong> A veteran Kids Club member will teach you to climb a coconut tree like a local pro.  You will not only learn to climb and pick your fresh coconut, but also learn to dehusk the coconut and have the option of turning it into a &ldquo;<em>coco loco</em>&rdquo; which is accompanied by a shot of Flor de Ca&ntilde;a rum.</p>

<figure class="figure figure--320x240 figure--pull-right">
  <div class="figure__media">
    <img alt="" height="240" src="assets/images/photo-activities-community.jpg" width="320">
  </div>
  <figcaption>Do&ntilde;a Francisca leads our Community Tour.</figcaption>
</figure>

<p><strong>Crabbing Tour:</strong> Together with former Kids&rsquo; Club members you will take a walk through the farmland and into the mud flats located within the mangroves. Learn how to scramble through the forest and dig shoulder deep in mud without being pinched by crabs. Your catch can be gifted to your guide&rsquo;s family or made into a &ldquo;<em>sopa tipica</em>&rdquo;.</p>

<p><strong>Hand line Fishing on the Beach:</strong> These fun guides can teach you how to hand-line fish in the shallow waters on the beach. Learn how to bait the hook, throw the line, entice the fish with your bait, and reel it in. Take your catch home for dinner or gift it to your guide&rsquo;s family.</p>

<h2>Boat tours</h2>

<figure class="figure figure--320x240 figure--pull-right">
  <div class="figure__media">
    <img alt="" height="240" src="assets/images/photo-activities-boat.jpg" width="320">
  </div>
  <figcaption>Eddy, from Padre Ramos Tours, leads a boat tour to the Gulf of Fonseca.</figcaption>
</figure>

<p>Boat tours are lead by local cooperative, Padre Ramos Tours, and Ibis Kayaking. Padre Ramos Tours consists of seven local guides who are all fantastic resources for the local flora and fauna of the area. Several tour options exist including winding through the mangroves to heading out to the Gulf of Fonseca. The tours are available in Spanish only.</p>

<h2>Horse back riding</h2>

<p>Horse rentals are available, giving you freedom to explore the beach and nearby communities at your leisure. Horses can be rented by the hour with or without a Spanish speaking guide.</p>

<h2>Spanish lessons</h2>

<p>Azael Pineda, our former night-watchman who has been successful in raising literacy rates within his community of Padre Ramos, independently offers Spanish lessons for $5 per hour per person.  Maximum of three students.</p>

<aside class="call-to-action">
  <ul class="call-to-action__items">
    <li class="call-to-action__item"><a class="call-to-action__item-inner" href="finding-us.html">Get directions to the rancho from Chinandega, Leon, and Managua</a>
    </li>
  </ul>
</aside>
