{% extends "./templates/layouts/campaign.html" %}

{% set title = "Rancho Esperanza - Campaign" %}
{% set description = "Support us" %}

{% block main %}

<div class="Lead">
  <h1 class="Lead-title"><img class="Lead-logo" alt="Rancho Esperanza" height="200" src="assets/images/common-logo.png" width="200"></h1>
  <p class="Lead-tagline">Thank you for staying with us.</p>
</div>

<div class="Grid">
  <div class="Grid-item">
    <p><strong>Providing feedback</strong>: We welcome feedback for the hostel and our projects. Let us know if you have any suggestions.</p>

    <p><strong>Volunteering</strong>: If you have at least three weeks to give and want to get more involved, check out our <a href="community-projects.html" title="Visit our website to see all of our volunteer opportunties">volunteer opportunities</a>.</p>

    <p><strong>Making an donation</strong>: Financially support our <a href="community-projects.html" title="Find out more about our community projects">community development projects</a>. Any amount is greatly appreciated.</p>
  </div>
  <div class="Grid-item">
    <p>
      <strong>Spread the word</strong>: <em>If you have just a moment</em>, please like us on Facebook.
      <p data-widget="facebook"><a href="https://www.facebook.com/rancho.esperanza.jiquilillo">Find us on Facebook</a></p>
    </p>

    <p><em>Do you have more than a moment?</em> A positive review on <a href="http://www.tripadvisor.com/Hotel_Review-g1233814-d1646502-Reviews-Rancho_Esperanza-Chinandega_Province.html">Trip Advisor</a> is very helpful and much appreciated.</p>
  </div>
</div>

{% endblock %}
