---
title: "Rancho Esperanza - Campaign"
description: ""
layout: campaign.hbs
---
<h2>Thank you for staying with us. You can contribute further by...</h2>
<div class="content">
  <div class="content content__primary">
    <p><strong>Providing feedback</strong>: We welcome feedback for the hostel and our projects. Let us know if you have any ideas or suggestions.</p>
    <p><strong>Volunteering</strong>: If you have at least two weeks to give and want to get more involved, check out our <a href="volunteer-opportunities.html" title="Visit our website to see all of our volunteer opportunties">volunteer opportunities</a>.</p>
    <p><strong>Making an donation</strong>: Financially support our <a href="mission-and-projects.html" title="Learn about our mission and projects">community development projects</a>. Any amount is greatly appreciated.</p>
  </div>
  <div class="content__secondary">
    <p>
      <strong>Spread the word</strong>: <em>If you have just a moment</em>, please like us on Facebook.
      <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Francho.esperanza.jiquilillo&amp;width=234&amp;height=80&amp;colorscheme=light&amp;show_faces=false&amp;border_color&amp;stream=false&amp;header=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:234px; height:80px;" allowtransparency="true"></iframe>
    </p>

    <p><em>Have more than a moment?</em> A positive review on <a href="http://www.tripadvisor.com/Hotel_Review-g1233814-d1646502-Reviews-Rancho_Esperanza-Chinandega_Province.html">Trip Advisor</a> is very helpful and much appreciated.</p>
  </div>
</div>