{% extends "./templates/layouts/en.html" %}

{% set id = "projects" %}
{% set title = "Community Projects, Volunteer opportunities & volunteering in Nicaragua." %}
{% set description = "We are actively involved in the community of Jiquilillo and offer volunteering in Nicaragua." %}

{% block main %}

<h1>Community Projects, Volunteering & Internships</h1>

<figure class="Figure Figure--320x240 Figure--pullRight">
  <div class="Figure-media">
    <img alt="" height="240" src="assets/images/photo-projects-kids.jpg" width="320">
  </div>
  <figcaption>
    <p>The children of Kids Club in a water relay race.</p>
  </figcaption>
</figure>

<p>We are thrilled to have founded a non-profit organization earlier this year to further the work we do in Jiquilillo and the surrounding area. <em>Puentes de Esperanza</em> is a continuation of, and now the organization behind, the projects we have been running at Rancho Esperanza for over 10 years. Puentes de Esperanza provides the tools and support necessary to empower low-income communities through education.</p>

<p>The project work we do is primarily funded from hostel earnings. So, even if you don't volunteer yourself, just by staying here for a few days you are supporting your host community. We are a small scale, hands-on initiative and the majority of the projects rely on the contribution and commitment of volunteers, so please do get in touch if you'd like to dedicate your time and talents to any of our programs.</p>

<p>Jiquilillo and the surrounding areas face many challenges: unemployment and dependence on seasonal work, volatile and persistently low incomes, and a struggling education system. Environmental challenges abound as well. We help out by providing an eco-hostel destination for volunteers and guests alike, and donating time and resources to Puentes de Esperanza, which works with the communities to create and support social and environmental programs.</p>

<h2 id="kids-club">Kids Club</h2>

<figure class="Figure">
  <div class="Figure-media">
    <img alt="" height="330" src="assets/images/photo-volunteer-kids.jpg" width="660">
  </div>
  <figcaption>
    <p>Nate, on the left, with volunteers Andrea, Nicki, Lily, and Richard in Kids Club.</p>
  </figcaption>
</figure>

<p>Our longest-running program is Kids Club, where local kids are welcomed every weekday afternoon, from 2--4 p.m., to learn and play under the guidance of our dedicated volunteers. A number of years ago, through hostel earnings and guest donations, we were able to build a community center that houses Kids Club. We provide a fun and safe setting where the kids can just be kids.</p>

<p>The children enjoy a large collection of age-appropriate books, a lending library, arts and crafts projects, indoor and outdoor games, science projects, and receive homework help, should they request it. We've been nurturing the program for ten years and we are currently working with our second generation of awesome kids!</p>

<p>We are always looking for mature volunteers to be positive and fun role models for the children. We would love it if you brought with you great ideas for arts and crafts projects or fun and educational games to share with the kids.</p>

<p>You will need a <em>minimum of intermediate Spanish skills</em> and be able to commit to a stay of at <em>least three weeks</em> to create a consistent environment for the children. References, details of experience with children, and a Skype interview may be requested.</p>

<h2>School Assistance and Sponsorships</h2>

<figure class="Figure Figure--320x240 Figure--pullRight">
  <div class="Figure-media">
    <img alt="" height="240" src="assets/images/photo-projects-school.jpg" width="320">
  </div>
  <figcaption>
    <p>Thirteen of the twenty-five children sponsored to go to school this year.</p>
  </figcaption>
</figure>

<p>The Nicaraguan education system lacks adequate funding to maintain its public schools. We work with the school director, teachers, and the local community to determine the most pressing needs of the schools, from teachers' supplies and resources to infrastructure, to allow the children access to a basic education.</p>

<p>Although pubic school is free in Nicaragua, the costs of bus fare, uniforms, and school supplies can be prohibitive and keep many children from attending. Through consultation with the local school teachers, we have ensured that a number of kids, including the children of our employees, have been able to continue going to school through our sponsorship program.</p>

<p>If you are able to contribute to our efforts to address these pressing educational needs, any <a href="#donatations" title="Find out how to donate">donation</a> helps.</p>

<p>There is also an opportunity to volunteer/intern in the local primary school in the form of teacher assistance, tutoring those children who are falling behind in their studies, as well as working within the Kids Club.  Ideally, you will have studied, or are currently studying, education and/or international development, or you are a teacher, are <em>fluent in Spanish</em>, and in a position to make a <em>three-month minimum commitment</em>. We will provide, if requested, any documentation required for you to receive college credit.</p>

<h2 id="english-classes">English Classes</h2>

<p>English skills are highly valuable in Jiquilillo as tourism is rapidly expanding in Nicaragua. For the past few years we have been assisting locals with free English classes and are now providing classes, when there is a volunteer to teach them, for the local children as well.</p>

<p>We are always looking for volunteers to run the classes and as a volunteer English teacher you will be expected to plan and document lessons, give three one-hour classes each weekday, and give assignments to students. TOEFL certification is requested, but not necessary. There is a <em>minimum one-month</em> commitment.</p>

<h2 id="surf-club">Surf Club</h2>

<figure class="Figure">
  <div class="Figure-media">
    <img alt="" height="330" src="assets/images/photo-projects-surf.jpg" width="660">
  </div>
  <figcaption>
    <p>The first generation of Surf Club kids and teenagers, with Nate and volunteer Tim.</p>
  </figcaption>
</figure>

<p>For the past few years, Jiquilillo has seen an increase in surf tourism. Over the past four years we have made this popular sport accessible to more of Jiquilillo's youth, providing an important positive outlet for many of them. The first generation of kids have advanced in technical surf skills and have learned to professionally repair and maintain boards. They are now able to provide surf lessons to their peers and guests.</p>

<figure class="Figure Figure--270x360 Figure--pullRight">
  <div class="Figure-media">
    <img alt="" height="360" src="assets/images/photo-volunteer-surf.jpg" width="270">
  </div>
  <figcaption>
    <p>Oniel and Jefferson---winners of Jiquilillo's First Annual Surf Competition</p>
  </figcaption>
</figure>

<p>The first generation kids have now acquired their own boards, and so we are looking for a dedicated volunteer to capture the imagination of the next generation of younger kids. Female surfers are especially encouraged to apply as we'd love to see more of Jiquilillo's strong young women in the water as they are currently underrepresented.</p>

<p>Surf Club participants meet every Saturday, when the Club is active and run by a volunteer, to help in an environmental activity or social service for the community. This takes various forms and includes cleaning the beach and road within the community, and maintaining the grounds of our local primary school. You'll lead or assist with these environmental awareness activities each week.</p>

<p>A <em>minimum of intermediate level Spanish</em> is required and we ask for <em>at least a one-month commitment</em>.</p>

<h2 id="computer-classes">Computer Literacy Classes</h2>

<p/>Computers are the backbone of the 21st century and basic computer literacy is essential to achieve new opportunities. We have been providing basic computer literacy classes to local teenagers for the past year to provide them a head-start on this useful skill. We are looking for volunteers to give 1-2 one hour classes each weekday. Teachers are expected to plan assignments and document lessons, as well as provide internet research assistance to local students who come to us for homework help.

<p>A <em>minimum of intermediate-advanced level Spanish</em> is required and we ask for <em>at least a one-month commitment</em>.</p>

<aside class="CallToAction">
  <p>If you'd like to get involved with one of our projects for children and students, please don't hesitate in emailing us at <a class="Icon Icon--inline Icon--email" href="mailto:shana@puentes-de-esperanza.org">shana@puentes-de-esperanza.org</a> as we are nearly always in need of volunteers!</p>
</aside>

<h2 id="economic-development">Economic Development and Expanding Community-Based Tourism</h2>

<p>Given the economic challenges people face in Jiquilillo, economic development is central to our efforts. We've been able to employ an expanding base of local staff who are paid a fair wage and provided benefits. We also provide assistance in local tourism development, including training and support to locals and local groups interested in starting tourism-oriented enterprises.</p>

<p>We are looking for a <em>fluent Spanish-speaking</em> volunteer or intern to work directly with locals to expand community-based tourism in Jiquilillo. You will train locals to become tour guides, and will help begin and expand local tourism businesses within the local community, including a home stay program.</p>

<p>Tour guide training involves taking everyday living activities and incorporating them into a "cultural excursion" that a visitor would find interesting to learn. Thus far we offer five activities for guests and have taught locals how to lead them.</p>

<p>For the homestay program, you will be expected to meet with families, visit their homes and assess what improvements are needed, and help improve their homes so that they can house travelers. You will be expected to instruct locals on how to host a traveler, accommodate their needs, and teach their guest about local culture.</p>

<p>Finally, you will give business assistance, including teaching basic accounting, inventory, cost/profit analysis, marketing/advertising, and general advice on how to improve local tourism businesses.</p>

<p>We ask that you stay a <em>minimum of two months</em>. We will provide, if requested, any documentation required for you to receive college credit.</p>

<aside class="CallToAction">
  <p>Please get in touch with us at <a class="Icon Icon--inline Icon--email" href="mailto:shana@puentes-de-esperanza.org">shana@puentes-de-esperanza.org</a> if you are interested in this economic and tourism intern/volunteer opportunity.</p>
</aside>

<h2>Creative Arts</h2>

<figure class="Figure Figure--270x360 Figure--pullLeft">
  <div class="Figure-media">
    <img alt="" height="360" src="assets/images/photo-volunteer-creative.jpg" width="270">
  </div>
  <figcaption>
    <p>Isaac, Margaret, and Michela's mural on the side of the dormitory.</p>
  </figcaption>
</figure>

<p>The Rancho and the wider property is a true multi-purpose space serving children, travelers, and the volunteer family. Creating an inspiring environment that fits with the natural beauty of Jiquilillo is important to us. No one said the simple life was ugly or plain!</p>

<p>If you're a carpenter who can incorporate natural materials like driftwood with functional design, or an artist who can paint a mural, create mosaics, or sculpt, let our home be your workshop.</p>

<h2>Green Projects</h2>

<figure class="Figure">
  <div class="Figure-media">
    <img alt="" height="330" src="assets/images/photo-volunteer-green.jpg" width="660">
  </div>
  <figcaption>
    <p>Ben's "El Jardin del Amor de la Tierra".</p>
  </figcaption>
</figure>

<p>If you have ideas on how to increase the sustainability of Rancho life, please let us know. For example, we have the compost, we have the space, we even have willing hands... but some more green thumbs would be great. If you're an expert on what grows well where, and have some good container ideas to get us above the wet season puddles you could really make a valuable contribution here. To make sure there is time to do the job well, we require someone with experience gardening in dry tropical climates to come for a minimum of <em>two months</em>.</p>

<aside class="CallToAction">
  <p>Our creative and green projects are always in need of a helping hand, so please email us at <a class="Icon Icon--inline Icon--email" href="mailto:shana@puentes-de-esperanza.org">shana@puentes-de-esperanza.org</a> if you'd like to get involved.</p>
</aside>


<h2>Clinic Transport</h2>

<figure class="Figure Figure--320x240 Figure--pullRight">
  <div class="Figure-media">
    <img alt="" height="240" src="assets/images/photo-projects-clinic.jpg" width="320">
  </div>
  <figcaption>
    <p>Maria José with her newborn son Junior, who was born 15 minutes upon arrival to the San Luis Medical Clinic.</p>
  </figcaption>
</figure>

<p>And lastly, Jiquilillo and the surrounding area lack an ambulance service and have limited public transportation, with the last bus leaving at 3:30 in the afternoon. If there is any medical emergency, we provide free transport to the nearest medical facility located 45 minutes from Jiquilillo. Our services have assisted in bringing five new lives into the community!</p>

<aside class="CallToAction" id="donatations">
  <p>We're also open to new projects and ideas! If you have an idea that isn't listed but that you think would benefit Jiquilillo or Rancho life, and you've got the time and skills to put that project in motion, please let us know at <a class="Icon Icon--inline Icon--email" href="mailto:stay@rancho-esperanza.com">stay@rancho-esperanza.com</a>!</p>
</aside>

<aside class="CallToAction">
  <div class="Grid">
    <div class="Grid-item">
      <p>You can also donate, via <a href="http://fnd.us/c/dOyBe">Fundrazr</a>, to our ongoing projects, new projects, and requests from the community. Puentes de Esperanza is a US-based tax-exempt 501(c)3 non-profit organization.</p>

      <p>Many guests and volunteers have also supported our projects by packing items to bring with them on their trips to Nicaragua. The children and teachers of Jiquilillo would benefit from the supplies outlined on our <a href="https://www.facebook.com/notes/rancho-esperanza/needed-materials-in-kind-donations/599283556763685">list on Facebook</a>.</p>
    </div>
    <div class="Grid-item">
      <div data-widget="fundrazr" class="fr-widget" data-type="badge" data-variant="small" data-width="90" data-url="http://fnd.us/c/dOyBe">
        <a href="http://fnd.us/c/dOyBe">Donate funds via Fundrazr</a>
      </div>
    </div>
  </div>
</aside>

<nav class="WayFinder">
  <ul class="WayFinder-inner">
    <li class="WayFinder-item">
      <h4 class="WayFinder-itemTitle Icon Icon--bed">Accommodation & Food</h4>
      <p class="WayFinder-itemBody">We offer cabins, camping, dormitories and serve three hearty meals a day</p>
      <a class="WayFinder-itemLink" href="accommodation-and-food.html">Find out more</a>
    </li>
  </ul>
</nav>

{% endblock %}
