{% extends "./templates/layouts/en.html" %}

{% set title = "Employment" %}
{% set description = "We're Hiring: Hostel Manager in Nicaragua." %}

{% block main %}

<h1>Employment</h1>

<p>We are currently seeking applicants for a Full-Time Hostel Manager:</p>

<h2>Full-Time Hostel Manager</h2>

<p>We are accepting applicants to begin <strong>April 2018</strong> to help manage the hostel. You must be able to commit to a <em>minimum of fourteen months, with a preference for longer commitments</em>. You must speak a <em>advanced Spanish</em> and be <em>fluent in English</em>. If you speak multiple languages, this is even better!</p>

<p>You should have an interest in eco-tourism and have great people skills. You will be working a split shift with another manager, requiring a minimum 8 hour shift, 6 days per week. During busy season, there may be a need to work longer hours to keep up with demand. The ideal candidate will be highly organized and have no trouble communicating, reading, and writing in English and Spanish. We will give preference to applicants who have traveled extensively in Central America, understand hostel life, are comfortable living in the <em>campo</em>, and have management and/or hospitality experience. Surfers are encouraged to apply.</p>

<p>Your responsibilities will include day-to-day operations of running the hostel, including managing a 10-person staff, administrative duties, guest billing, guest relations, etc. You will be paid a monthly salary plus a share in the profits, and on-site room and board are provided.</p>

<aside class="CallToAction">
  <p>Please get in touch with us at <a class="Icon Icon--inline Icon--email" href="mailto:stay@rancho-esperanza.com">stay@rancho-esperanza.com</a> if you meet the qualifications and are seriously interested in this position, or if you have any questions about it.</p>
</aside>
