{% extends "./templates/layouts/en.html" %}

{% set title = "Employment" %}
{% set description = "Hostel Manager and Surf & Yoga instructor in Nicaragua." %}

{% block main %}

<h1>Employment</h1>

<p>We are currently seeking applicants for two positions beginning in <strong>February 2016</strong> and one position <strong>immediately</strong>:</p>

<h2>Hostel Manager</h2>

<p>We are accepting applicants to begin in <strong>Februry 2016</strong> to help manage the hostel. You must be able to commit to a <em>minimum of fourteen months, with a preference for longer commitments</em>. You must speak a <em>advanced Spanish</em> and be <em>fluent in English</em>. If you speak multiple languages, this is even better!</p>

<p>You must have an interest in eco-tourism, great people skills, and be willing to work ten+ hour days. We will give preference to applicants who have traveled extensively in Central America, understand hostel life, are comfortable living in the <em>campo</em>, and have management and/or hospitality experience. Surfers are encouraged to apply.</p>

<p>Your responsibilities will include day-to-day operations of running the hostel, including managing staff. You will be paid a monthly salary plus a share in the profits, and room and board are provided.</p>

<h2>Assistant Hostel Manager</h2>

<p>We are accepting applicants to begin in <strong>March 2016 through the end of August</strong> to help manage the hostel. You must speak a <em>minimum of intermediate conversational Spanish</em> and be <em>fluent in English</em>.</p>

<p>You should have great people skills and be willing to work six-seven hours per day. We will give preference to applicants who have traveled in Central America, understand hostel life, and are comfortable living in the <em>campo</em>. We will give extra preference to applicants who can also give surf lessons and are certified to teach yoga.</p>

<p>Your responsibilities include guest relations and some administrative duties. You will be paid a monthly salary, and room and board are provided.</p>

<h2>Program Manager</h2>

<p>We are currently accepting applicants to begin <strong>in February 2016</strong> to help manage our community programs.</p>

<p>You must be able to commit to a <em>minimum of six months, with a preference for a longer commitment.</em>. You must speak <em>intermediate/advanced Spanish</em> and have experience working with children abroad. You should have experience planning and coordinating activities, and managing volunteers. Previous experience working with an international NGO, and ease of living in the <em>campo</em> is helpful.</p>

<p>Your responsibilities will include day-to-day operations of coordinating all community programs, managing international volunteers, maintaining community relations, and participating daily in Kids Club. A modest stipend plus room and board are provided.</p>

<aside class="CallToAction">
  <p>Please get in touch with us at <a class="Icon Icon--inline Icon--email" href="mailto:shana@puentes-de-esperanza.org">shana@puentes-de-esperanza.org</a> if you meet the qualifications and are seriously interested in this position, or if you have any questions about it.</p>
</aside>

<h2>Surf and Yoga Instructor</h2>

<p>We are actively searching for a surf instructor who is also certified to teach yoga to begin <strong>immediately</strong>.</p>

<p>As a surf instructor you will be responsible for renting boards to guests and reviewing boards for damages, providing beginner and intermediate surf lessons and tips, and guiding guests on off-shore surf trips.</p>

<p>As a yoga instructor, you must be certified and willing to provide a minimum of four classes per week.</p>

<p>We request a minimum time commitment of <em>two months</em>, with a preference given to those who can commit to a longer term. You must speak <em>advanced English</em> and preferably speak Spanish well enough to provide surf lessons in Spanish. You should have experience living abroad in a rural setting, and have experience in hostel-life. Room and board or commissions on classes will be discussed.</p>

<aside class="CallToAction">
  <p>Please get in touch with us at <a class="Icon Icon--inline Icon--email" href="mailto:stay@rancho-esperanza.com">stay@rancho-esperanza.com</a> if you are interested in any of the three positions, or if you have any questions about them.</p>
</aside>

<nav class="WayFinder">
  <ul class="WayFinder-inner">
    <li class="WayFinder-item">
      <h4 class="WayFinder-itemTitle Icon Icon--community">Projects & Volunteering</h4>
      <p class="WayFinder-itemBody">We work with the community to create and support social and environmental programs</p>
      <a class="WayFinder-itemLink" href="community-projects.html">Find out more</a>
    </li>
  </ul>
</nav>

{% endblock %}
