---
id: find
title: "Finding us"
description: "Directions to Rancho Esperanza in Jiquilillo from Chinandega, Leon, Managua and El Salvador."
---
<h1>Finding us</h1>

<figure class="pull-right">
  <img src="assets/images/photo-find-map.jpg" width="350" height="287" alt="">
  <figcaption>Jiquilillo is situated on the northwestern pacific coast of Nicaragua, an hour and a half north of Chinandega.</figcaption>
</figure>

<p><strong>From Managua to Chinandega:</strong> Buses leave every fifteen minutes from Managua&rsquo;s &ldquo;Mercado Isreal&rdquo;. Two options are available: a larger cheaper school bus which takes approximately three hours, or a two hour micro bus costing 76 Cordobas.</p>

<p><strong>From Leon to Chinandega:</strong> Buses leave every fifteen minutes from Leon. Larger buses take 1.5 hours; microbuses take 45 minutes and costs approximately 30 Cordobas.</p>

<p><strong>From Chinandega to Jiquilillo:</strong> Buses from Leon and Managua will arrive at the &ldquo;Mercado El Bisne&rdquo; bus station where you should take a taxi or a tricycle taxi to &ldquo;El Mercadito,&rdquo; prices range from 8C$ (for the tricycle) to 15C$ (for the taxi) per person. The bus service to Jiquilillo is excellent and friendly; just ask the <em>ayudante</em> (attendant) to stop at &ldquo;Rancho Esperanza&rdquo; or &ldquo;Rancho de Nato&rdquo;. The price is 25 Cordobas and travel time is approximately 1.5 hours to 2 hours. We are located on the left side of the road.</p>

<table>
  <caption>Bus schedule</caption>
  <thead>
    <tr>
      <th scope="col">Leave Chinandega</th>
      <th scope="col">Arrive El Viejo</th>
      <th scope="col">Arrive Jiquilillo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>7:00am</td>
      <td>7:30am</td>
      <td>8:30am</td>
    </tr>
    <tr>
      <td>10:00am</td>
      <td>10:30am</td>
      <td>11:30am</td>
    </tr>
    <tr>
      <td>11:30am</td>
      <td>12:30pm</td>
      <td>1:30pm</td>
    </tr>
    <tr>
      <td>3:00pm</td>
      <td>3:30pm</td>
      <td>5:00pm</td>
    </tr>
    <tr>
      <td>4:30pm</td>
      <td>5:00pm</td>
      <td>6:30pm</td>
    </tr>
  </tbody>
</table>

<h2>Arriving by Taxi</h2>

<p>We can provide direct pick ups from any of the cities, please call us to arrange a direct shuttle service from where you are to the Rancho.</p>

<ul>
  <li><strong>Managua/Managua Airport</strong>: $120, travel time from 4.5 hours to 3.5 hours, maximum of four passengers.</li>
  <li><strong>Leon</strong>: $40, travel time from 2.5 hours to 1.5 hours</li>
  <li><strong>Chinandega</strong>: $20, travel time 45 minutes</li>
</ul>

<h2 id="la-union">From La Union, El Salvador</h2>

<p>If you are coming from El Salvador it is possible to leave from La Union, El Salvador via boat and arrive directly to Potosi, Nicaragua. There are immigration offices on both sides of the Gulf of Fonseca.  If you wish to travel from Potosi to El Salvador, there is one boat that leaves every Friday at 8am.  If you are on a tight time schedule and cannot wait for Friday, you can hire a private boat for $200, maximum of ten passengers.  For more information on boat availabilities contact Rafael Castro from Hotel Brisas del Golfo in Potosi <a href="tel:+50587744356">+505 8774 4356</a>.</p>

<p data-widget="gmaps"><a href="http://goo.gl/maps/AyAox">Find us on Google Maps</a></p>

<aside class="call-to-action">
  {{> call-to-action }}
</aside>
