---
id: find
title: "Finding us"
description: "Directions to Rancho Esperanza in Jiquilillo from Chinandega, Leon, Managua and El Salvador."
---

<h1>Finding us</h1>

<figure class="figure figure--320x240 figure--pull-right">
  <div class="figure__media">
    <img alt="" height="240" src="assets/images/photo-finding-map.jpg" width="320">
  </div>
  <figcaption>Jiquilillo is situated on the northwestern pacific coast of Nicaragua, an hour and a half north of Chinandega.</figcaption>
</figure>

<p><strong>From Managua to Chinandega:</strong> Buses leave every fifteen minutes from Managua&rsquo;s &ldquo;Mercado Israel&rdquo;. Two options are available: a larger cheaper school bus which takes approximately three hours, or a two hour micro bus costing 76 Cordobas.</p>

<p><strong>From Leon to Chinandega:</strong> Buses leave every fifteen minutes from Leon. Larger buses take 1.5 hours; microbuses take 45 minutes and cost approximately 30 Cordobas.</p>

<p><strong>From Chinandega to Jiquilillo:</strong> Buses from Leon and Managua will arrive at the &ldquo;Mercado El Bisne&rdquo; bus station where you should take a taxi or a tricycle taxi to &ldquo;El Mercadito,&rdquo; prices range from 8C$ (for the tricycle) to 15C$ (for the taxi) per person. The bus service to Jiquilillo is excellent and friendly; just ask the <em>ayudante</em> (attendant) to stop at &ldquo;Rancho Esperanza&rdquo; or &ldquo;Rancho de Nato&rdquo;. The price is 25 Cordobas and travel time is approximately 1.5 hours to 2 hours. We are located on the left side of the road.</p>

<table>
  <caption>Bus schedule</caption>
  <thead>
    <tr>
      <th scope="col">Leaves Chinandega</th>
      <th scope="col">Stops at El Viejo</th>
      <th scope="col">Arrives at Jiquilillo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>7:00am</td>
      <td>7:30am</td>
      <td>8:30am</td>
    </tr>
    <tr>
      <td>10:00am</td>
      <td>10:30am</td>
      <td>11:30am</td>
    </tr>
    <tr>
      <td>11:30am</td>
      <td>12:30pm</td>
      <td>1:30pm</td>
    </tr>
    <tr>
      <td>3:00pm</td>
      <td>3:30pm</td>
      <td>5:00pm</td>
    </tr>
    <tr>
      <td>4:30pm</td>
      <td>5:00pm</td>
      <td>6:30pm</td>
    </tr>
  </tbody>
</table>

<h2>Arriving by Taxi</h2>

<p>We can provide direct transport from any of the cities, please call us to arrange a direct shuttle service for any group size from where you are to the Rancho. Our taxi rates for a maximum of four passengers are:</p>

<ul>
  <li><strong>Chinandega</strong>: $20, travel time 45 minutes.</li>
  <li><strong>Leon</strong>: $40, travel time from 1.5 hours to 2.5 hours.</li>
  <li><strong>Managua/Managua Airport</strong>: $120, travel time from 3.5 hours to 4.5 hours.</li>
  <li><strong>Masaya</strong>: $140, travel time 4 to 5 hours.</li>
  <li><strong>Granada/Laguna de Apoyo</strong>: $150, travel time 4.5 hours to 5.5 hours.</li>
</ul>

<p>We can also arrange for private microbuses that accommodate up to 8 passengers. Our microbus rates for a maximum of eight passengers to or from Managua are $200. We can also arrange for travel to other locations across Nicaragua in a microbus.</p>

<h2 id="la-union">From La Union, El Salvador</h2>

<p>If you are coming from El Salvador it is possible to leave from La Union, El Salvador via boat and arrive directly to Potosi, Nicaragua. There are immigration offices on both sides of the Gulf of Fonseca. If you wish to travel from Potosi to El Salvador, fishing boats can take you across the Gulf. Boats leave irregularly, but most frequently on Monday and Friday mornings. There are other private boats available, as well. Your best bet for the most up-to-date information on boat availability is to contact is Rafael Castro at Hotel Brisas del Golfo in Potosi <a href="tel:+50587744356">+505 8774 4356</a>.</p>

<p data-widget="gmaps"><a href="http://goo.gl/maps/AyAox">Find us on Google Maps</a></p>

<aside class="call-to-action">
  {{> call-to-action }}
</aside>
