{% extends "./templates/layouts/en.html" %}

{% set title = "For sale" %}
{% set description = "Eco-hostel & hotel for sale in Nicaragua" %}

{% block main %}

<h1>For sale</h1>

<p>Rancho Esperanza has been open to the public and has been assisting Jiquilillo for nearly ten years now. It is well known throughout the backpacker trail in Central America.  We have been listed in two major guidebooks since 2007: The Lonely Planet and Moon Handbook Guides. It is a wonderful opportunity for anyone who is interested in eco-toursim in Nicaragua. Everything is set in place and ready to be taken over. </p>

<p>Jiquilillo is the largest natural wetland reserve in Central America and is perfect to promote eco-tourism. Jiquilillo continues to maintain its natural beauty and charm unlike other coastlines within Nicaragua that have been overly developed. Tourism continues to grow each year, and development has not affected it natural beauty. Its beaches remain accessible to everyone. Surfing, sports fishing, kayaking, and boating are just a few of the major activities. Jiquilillo beach is ideal for the novice to intermediate surfer. Its proximity to nearby Asseradores, only a thirty minute boat ride away, call attention to pro surfers for its world class waves at the Boom Wavos and a left point break at Isla Asseradores. La bocana, the river mouth break in Padre Ramos, is also a popular break for the experienced surfer.</p>

<p>The property currently features:</p>

<ul>
  <li>Nine fully furnished rentable cabañas, four with private open-air showers constructed of glass bottles</li>
  <li>Fully secured office cabaña</li>
  <li>One large main rancho with lofted dorm space</li>
  <li>One large on-site brick community center</li>
  <li>One lofted ocean-front home, complete with full bathroom, kitchen, and wrap-around patio</li>
  <li>One large cabaña that houses a dormitory and sleeps six</li>
  <li>One covered two-car garage</li>
  <li>Fully equipped large kitchen, including indoor and outdoor stoves</li>
  <li>Plenty of room to expand</li>
</ul>

<p>Also included are:</p>

<ul>
  <li>All furniture and hammocks</li>
  <li>Over 20 surfboards</li>
  <li>Pickup truck</li>
  <li>Computer</li>
  <li>Professional website (www.rancho-esperanza.com), excellent online presence (Trip Advisor, Barefoot Atlas), and long-time guidebook presence (Lonely Planet, Footprint, Barefoot Atlas, Moon Handbook, Rough Guide)</li>
  <li>500+ book, multi-language library, named one of the best in Nicaragua and a highlight of travelers' stays</li>
  <li>All business contacts, permits, licenses, contracts, leases, etc.</li>
</ul>

<p>We are on three acres of property meaning that there is always room for growth.  We are one of the few properties in Jiquilillo that has fresh water. The spaciousness and privacy could also be ideal for private rentals, holistic center for yoga and meditation, surf camp, or an agriculture project. If one were to choose to remodel and renovate, it would be very easy to do due to the simple construction that has been used.</p>

<p>A main draw for travelers, and a cornerstone to the success of the business, has been the ongoing social development projects, including an afterschool program, school sponsorships and teaching assistance, English and computer literacy classes, a surf club, and others.</p>

<p>Anyone who may be interested in learning more about this opportunity should speak with Nate. Please email him directly at <a href="mailto:stay@rancho-esperanza.com">stay@rancho-esperanza.com</a> or try call +505 8680 0270 or +505 8879 1795.</p>

{% endblock %}
