{% extends "./templates/layouts/es.html" %}

{% set title = "Rancho Esperanza - Hotel en Jiquilillo" %}
{% set description = "Hotel, restaurante, dormitarios, tablas de surf, trabajos voluntarios en Playa Jiquilillo, Nicaragua" %}

{% block main %}

<div class="Lead">
  <h1 class="Lead-title"><img class="Lead-logo" alt="Rancho Esperanza" height="200" src="assets/images/common-logo.png" width="200"></h1>
  <p class="Lead-tagline">Donde puede hacer mucho o poco y todavía hacer una diferencia.</p>
</div>

<figure class="Figure">
  <div class="Figure-media">
    <img alt="" height="330" src="assets/images/photo-home-beach.jpg" width="660">
  </div>
  <figcaption>
    <p>Nuestra casa de la playa y ramada hecha de hojas de cocos provienen sombra para dos áreas de hamacas que reciben una brisa fresca del mar.</p>
  </figcaption>
</figure>

<p>Ubicado frente a la idílica playa de Jiquilillo, nuestro hotel de bajo impacto y vida natural, combina con proyectos que activamente benefician al pueblo.</p>

<figure class="Figure Figure--320x240 Figure--pullRight">
  <div class="Figure-media">
    <img alt="" height="240" src="assets/images/photo-home-nate.jpg" width="320">
  </div>
  <figcaption>
    <p>Nato está leyendo en su biblioteca multilingüe de más de 300 libros dentro del rancho principal durante el atardecer.</p>
  </figcaption>
</figure>

<p>Si usted está buscando escapar, contemplar, crear, surfear, o simplemente relajarse durante algunos días, Rancho Esperanza permite hacerlo en el hermoso entorno de las playas de Jiquilillo, donde puede estar seguro que su presencia brindará un beneficio a la comunidad.</p>

<p>Si usted quiere una nueva perspectiva, nuestras oportunidades de voluntarios le permiten participar en nuestros proyectos de la comunidad, incluso ser modelos positivos para los jóvenes que participan en nuestro Club de Niños, hacer artes creativos, y enseñar inglés.</p>

<p>Para los aventureros, nosotros y la comunidad ofrecemos lecciones de surf, kayak, subidas del Volcán Cosigüina, paseos en caballo por la playa, y excursiones culturales.</p>

<div class="Alert" id="semana-santa">

  <h2>Semana Santa<br>12-15 de Abril</h2>

  <table>
    <tbody>
      <tr>
        <td>Dormitorio Tambo</td>
        <td>$12</td>
      </tr>
      <tr>
        <td>Cabaña Sencilla</td>
        <td>$50</td>
      </tr>
      <tr>
        <td>Cabaña con ducha privada</td>
        <td>$60</td>
      </tr>
      <tr>
        <td>Cabaña grande</td>
        <td>$90</td>
      </tr>
    </tbody>
  </table>

  <p>Todas las cabañas tiene una cama matrimonial y una litera para cuatro personas en total, pero permitimos seis personas si traen su propio colchones, tijeras, o hamacas. La cabaña grande tiene tres literas para seis personas en total, pero permitimos diez personas si traen su propio colchones, tijeras, o hamacas. Una cama en el dormitorio tambo cuesta $12.</p>

  <p>Bridamos servicio del bar y restaurante de comida Nica. Durante este tiempo, no ofrecemos toures.</p>

  <p>Desde el 16 de Abril y adelante, el hotel esta funcionando normalmente.</p>

</div>

<h2>Alojamiento</h2>

<figure class="Figure Figure--320x240 Figure--pullRight">
  <div class="Figure-media">
    <img alt="" height="240" src="assets/images/photo-accom-cabana.jpg" width="320">
  </div>
  <figcaption>
    <p>Dentro de una cabaña de bajo impacto ambiental.</p>
  </figcaption>
</figure>

<p>Se puede elegir de dos dormitorios con seis camas en cada uno, siete cabañas privadas de bambú con capacidad máxima de cuatro personas en cada uno, y un grandioso espacio con sombra para su casa de campaña o hamaca.</p>

<p>Dos de nuestras cabañas tienen duchas y servicios privados muy espaciosos (construidos de botellas de vidrio), y tenemos otra cabaña solamente con servicio privado. Las cabañas con duchas y servicios privados son perfectas para parejas y familias. Todas nuestras cabañas tienen ramadas con hamacas disponibles para que pueda relajarse en su propio espacio.</p>

<table>
  <thead class="is-visuallyHidden">
    <tr>
      <th scope="col">Tipo</th>
      <th scope="col">Precio</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Hamaca/Casa de Campaña</td>
      <td>U$5</td>
    </tr>
    <tr>
      <td>Dormitorio Tambo</td>
      <td>U$8</td>
    </tr>
    <tr>
      <td>Dormitorio Tranquilo</td>
      <td>U$10.50</td>
    </tr>
    <tr>
      <td>Cabaña 1 persona</td>
      <td>$22 sencillo <br>$29 con servicio y ducha</td>
    </tr>
    <tr>
      <td>Cabaña 2 personas</td>
      <td>$25 sencillo <br>$35.75 con servicio y ducha</td>
    </tr>
    <tr>
      <td>Cabaña 3 personas</td>
      <td>$32.75 sencillo <br>$43 con servicio y ducha</td>
    </tr>
    <tr>
      <td>Cabaña 4 personas</td>
      <td>$35.75 sencillo <br>$46 con servicio y ducha</td>
    </tr>
  </tbody>
</table>

<p>También ofrecemos tarifas para la semana para huéspedes y voluntarios que incluyen comida, alojamiento, y agua.</p>

<p>Nosotros aceptamos Córdobas y billetes no dañados en Dólares (de U$50 o menor), MasterCard, y VISA (hay 7% sobre impuesto de uso de tarjeta de crédito). No hay bancos ni cajeros automáticos en Jiquilillo. 2% discrepancia por cambio de moneda. Los precios incluyen el impuesto del Ministerio de Turismo.</p>

<h2>Alimento</h2>

<figure class="Figure Figure--270x360 Figure--pullRight">
  <div class="Figure-media">
    <img alt="" height="360" src="assets/images/photo-accom-food.jpg" width="270">
  </div>
  <figcaption>
    <p>Un desayuno sano y fresco de Rancho Esperanza.</p>
  </figcaption>
</figure>

<p>Servimos tres comidas al día para nuestros huéspedes y voluntarios con especialidad en cocina vegetariana, Asiática, Nicaragüense, y pescado asado y frito.</p>

<p>Comenzamos a servir el desayuno (U$3.75--U$4.50) desde las 7:30 a.m. (con opción de desayuno todo el día). Las opciones incluyen un plato grande de fruta, bagel, waffles, avena, huevos, y yogurt con granola.</p>

<p>Almuerzos (U$3.75) y cenas (U$5) estan servidos al estilo familiar en nuestro comedor (ubicado en el rancho principal) con una opción vegetariana siempre disponible. </p>

<p>También ofrecemos un menú de bocadillos, licuados, y postres.</p>

<h2>Encuéntranos</h2>

<figure class="Figure Figure--320x240 Figure--pullRight">
  <div class="Figure-media">
    <img alt="" height="240" src="assets/images/photo-finding-map.jpg" width="320">
  </div>
  <figcaption>
    <p>Jiquilillo está ubicado en la costa pacífica noroeste de Nicaragua, una hora y media al norte de la ciudad de Chinandega.</p>
  </figcaption>
</figure>

<p><strong>De Managua a Chinandega:</strong> Los buses salen cada 15 minutos del Mercado Israel en Managua. Hay dos opciones disponibles: un bus grande que tarda aproximadamente 3 horas con costo más barato, o 2 horas en un microbús que tiene un costo de 76 Córdobas. </p>

<p><strong>De León a Chinandega:</strong> Los buses salen cada 15 minutos de León. Los buses grandes tardan 1.5 horas y los microbuses 45 minutos y cuestan aproximadamente 30 Córdobas. </p>

<p><strong>De Chinandega a Jiquilillo:</strong> Los buses de León y Managua llegan a la estación de bus "Mercado el Bisne" donde se debe tomar un taxi o triciclo taxi al "Mercadito." Los precios van desde 8 Córdobas el triciclo a 15 Córdobas el taxi. Diga al ayudante del bus que se detenga en el Rancho Esperanza o "Rancho de Nato." El precio es 25 Córdobas y el tiempo del viaje es 1.5 -- 2 horas. </p>

<table>
  <caption>Horario de los Buses</caption>
  <thead>
    <tr>
      <th scope="col">Salen de Chinandega</th>
      <th scope="col">Llegan a Jiquilillo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>7:00am</td>
      <td>8:30am</td>
    </tr>
    <tr>
      <td>10:00am</td>
      <td>11:30am</td>
    </tr>
    <tr>
      <td>11:30am</td>
      <td>1:30pm</td>
    </tr>
    <tr>
      <td>3:00pm</td>
      <td>4:30pm</td>
    </tr>
    <tr>
      <td>4:30pm</td>
      <td>6:00pm</td>
    </tr>
  </tbody>
</table>

<h3>Llegando por Taxi</h3>
<p>Podemos proporcionar recogidas directas desde cualquiera de las ciudades, tambien para grupos. Por favor llámenos para organizar un viaje directo al Rancho Esperanza. </p>

<aside class="CallToAction">
  <p>Aun sin aviso previo son bienvenidos, pero agradeceríamos reservaciones con antelación. Para asegurar su reservación pedimos un deposito de 30% de su alojamiento. Si les gustaría hacer una reservación, llámenos al <a class="Icon Icon--inline Icon--phone" href="tel:+50588791795">+505 8 879 1795</a> o envíen un correo al <a class="Icon Icon--inline Icon--email" href="mailto:stay@rancho-esperanza.com">stay@rancho-esperanza.com</a>.</p>
</aside>

{% endblock %}
