---
title: "Rancho Esperanza - Hotel en Jiquilillo"
description: "Hotel, restaurante, dormitarios, tablas de surf, trabajos voluntarios en Playa Jiquilillo, Nicaragua"
layout: es.hbs
---

<div class="lead">
  <h1 class="lead__title"><img class="lead__logo" alt="Rancho Esperanza" height="200" src="assets/images/common-logo.png" width="200"></h1>
  <p class="lead__tagline">Donde puede hacer mucho o poco y todav&iacute;a hacer una diferencia.</p>
</div>

<figure class="figure">
  <div class="figure__media">
    <img alt="" height="330" src="assets/images/photo-home-beach.jpg" width="660">
  </div>
  <figcaption>Nuestra casa de la playa y ramada hecha de hojas de cocos provienen sombra para dos &aacute;reas de hamacas que reciben una brisa fresca del mar.</figcaption>
</figure>

<p>Ubicado frente a la id&iacute;lica playa de Jiquilillo, nuestro hotel de bajo impacto y vida natural, combina con proyectos que activamente benefician al pueblo.</p>

<figure class="figure figure--320x240 figure--pull-right">
  <div class="figure__media">
    <img alt="" height="240" src="assets/images/photo-home-nate.jpg" width="320">
  </div>
  <figcaption>Nato est&aacute; leyendo en su biblioteca multiling&uuml;e de m&aacute;s de 300 libros dentro del rancho principal durante el atardecer.</figcaption>
</figure>

<p>Si usted est&aacute; buscando escapar, contemplar, crear, surfear, o simplemente relajarse durante algunos d&iacute;as, Rancho Esperanza permite hacerlo en el hermoso entorno de las playas de Jiquilillo, donde puede estar seguro que su presencia brindar&aacute; un beneficio a la comunidad.</p>

<p>Si usted quiere una nueva perspectiva, nuestras oportunidades de voluntarios le permiten participar en nuestros proyectos de la comunidad, incluso ser modelos positivos para los j&oacute;venes que participan en nuestro Club de Ni&ntilde;os, hacer artes creativos, y ense&ntilde;ar ingl&eacute;s.</p>

<p>Para los aventureros, nosotros y la comunidad ofrecemos lecciones de surf, kayak, subidas del Volc&aacute;n Cosig&uuml;ina, paseos en caballo por la playa, y excursiones culturales.</p>

<div class="alert" id="semana-santa">

  <h2>Semana Santa<br>16-19 de Abril</h2>

  <table>
    <caption>Caba&ntilde;a rates</caption>
    <thead class="is-visually-hidden">
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Cost in USD</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Caba&ntilde;a Sencilla</td>
        <td>$55 </td>
      </tr>
      <tr>
        <td>Caba&ntilde;a con inodoro privado</td>
        <td>$65 </td>
      </tr>
      <tr>
        <td>Caba&ntilde;a con ducha privada</td>
        <td>$75 </td>
      </tr>
      <tr>
        <td>Caba&ntilde;a grande</td>
        <td>$105</td>
      </tr>
    </tbody>
  </table>

  <p>Todas las caba&ntilde;as tiene una cama matrimonial y una litera para cuatro personas en total, pero permitimos seis personas si traen su propio colchones, tijeras, o hamacas. La caba&ntilde;a grande tiene tres literas para seis personas en total, pero permitimos diez personas si traen su propio colchones, tijeras, o hamacas. Una cama en el dormitorio tambo cuesta $15.</p>

  <p>Tristamente, los due침os del Hotel Rancho Esperanza tienen una emergencia medico personal y por eso, estamos cerrado al publico. Bridamos servicio del bar y restaurante de comida Nica solomente a nuestros huespedes. No vamos a ofrecer musica en vivo y/o un DJ, ni bailadores de fuego. Durante este tiempo, no ofrecemos toures, tablas o clases de surf. </p>

  <p>Para el 20 y 21 de Abril, solamente ofrecemos alojamiento. Nuestra restaurante esta cerrado durante este tiempo y no ofrecemos servicios de toures o clases de surf. Desde el 22 de Abril y adelante, el hotel esta funcionando normalmente.</p>

</div>

<h2>Alojamiento</h2>

<figure class="figure figure--320x240 figure--pull-right">
  <div class="figure__media">
    <img alt="" height="240" src="assets/images/photo-accom-cabana.jpg" width="320">
  </div>
  <figcaption>Dentro de una caba침a de bajo impacto ambiental.</figcaption>
</figure>

<p>Se puede elegir de dos dormitorios con seis camas en cada uno, siete caba&ntilde;as privadas de bamb&uacute; con capacidad m&aacute;xima de cuatro personas en cada uno, y un grandioso espacio con sombra para su casa de campa&ntilde;a o hamaca.</p>

<p>Dos de nuestras caba&ntilde;as tienen duchas y servicios privados muy espaciosos (construidos de botellas de vidrio), y tenemos otra caba&ntilde;a solamente con servicio privado. Las caba&ntilde;as con duchas y servicios privados son perfectas para parejas y familias. Todas nuestras caba&ntilde;as tienen ramadas con hamacas disponibles para que pueda relajarse en su propio espacio.</p>

<table>
  <thead class="is-visually-hidden">
    <tr>
      <th scope="col">Tipo</th>
      <th scope="col">Precio</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Hamaca/Casa&nbsp;de&nbsp;Campa침a</td>
      <td>U$5</td>
    </tr>
    <tr>
      <td>Dormitorio Tambo</td>
      <td>U$8</td>
    </tr>
    <tr>
      <td>Dormitorio Tranquilo</td>
      <td>U$10.25</td>
    </tr>
    <tr>
      <td>Caba&ntilde;a 1 persona</td>
      <td>$20 sencillo <br>$22 con servicio <br>$28 con servicio y ducha</td>
    </tr>
    <tr>
      <td>Caba&ntilde;a 2 personas</td>
      <td>$25 sencillo <br>$28 con servicio <br>$35 con servicio y ducha</td>
    </tr>
    <tr>
      <td>Caba&ntilde;a 3 personas</td>
      <td>$32 sencillo <br>$35 con servicio <br>$42 con servicio y ducha</td>
    </tr>
    <tr>
      <td>Caba&ntilde;a 4 personas</td>
      <td>$35 sencillo <br>$39 con servicio <br>$44 con servicio y ducha</td>
    </tr>
  </tbody>
</table>

<p>Voluntarios reciben descuentos. Tambi&eacute;n ofrecemos tarifas para la semana para hu&eacute;spedes y voluntarios que incluyen comida, alojamiento, y agua.</p>

<p>Nosotros aceptamos C&oacute;rdobas y billetes no da&ntilde;ados en D&oacute;lares (de U$50 o menor), MasterCard, y VISA (hay 7% sobre impuesto de uso de tarjeta de cr&eacute;dito). No hay bancos ni cajeros autom&aacute;ticos en Jiquilillo. 2% discrepancia por cambio de moneda.</p>

<h2>Alimento</h2>

<figure class="figure figure--270x360 figure--pull-right">
  <div class="figure__media">
    <img alt="" height="360" src="assets/images/photo-accom-food.jpg" width="270">
  </div>
  <figcaption>Un desayuno sano y fresco de Rancho Esperanza.</figcaption>
</figure>

<p>Servimos tres comidas al d&iacute;a para nuestros hu&eacute;spedes y voluntarios con especialidad en cocina vegetariana, Asi&aacute;tica, Nicarag&uuml;ense, y pescado asado y frito.</p>

<p>Comenzamos a servir el desayuno (U$3.50&ndash;U$4.50) desde las 7:30 a.m. (con opci&oacute;n de desayuno todo el d&iacute;a). Las opciones incluyen un plato grande de fruta, bagel, waffles, avena, huevos, y yogurt con granola.</p>

<p>Almuerzos (U$3.75) y cenas (U$5) estan servidos al estilo familiar en nuestro comedor (ubicado en el rancho principal) con una opci&oacute;n vegetariana siempre disponible. </p>

<p>Tambi&eacute;n ofrecemos un men&uacute; de bocadillos, licuados, y postres.</p>

<h2>Encu&eacute;ntranos</h2>

<figure class="figure figure--320x240 figure--pull-right">
  <div class="figure__media">
    <img alt="" height="240" src="assets/images/photo-finding-map.jpg" width="320">
  </div>
  <figcaption>Jiquilillo est&aacute; ubicado en la costa pac&iacute;fica noroeste de Nicaragua, una hora y media al norte de la ciudad de Chinandega.</figcaption>
</figure>

<p><strong>De Managua a Chinandega:</strong> Los buses salen cada 15 minutos del Mercado Israel en Managua. Hay dos opciones disponibles: un bus grande que tarda aproximadamente 3 horas con costo m&aacute;s barato, o 2 horas en un microb&uacute;s que tiene un costo de 76 C&oacute;rdobas. </p>

<p><strong>De Le&oacute;n a Chinandega:</strong> Los buses salen cada 15 minutos de Le&oacute;n. Los buses grandes tardan 1.5 horas y los microbuses 45 minutos y cuestan aproximadamente 30 C&oacute;rdobas. </p>

<p><strong>De Chinandega a Jiquilillo:</strong> Los buses de Le&oacute;n y Managua llegan a la estaci&oacute;n de bus &quot;Mercado el Bisne&quot; donde se debe tomar un taxi o triciclo taxi al &quot;Mercadito.&quot; Los precios van desde 8 C&oacute;rdobas el triciclo a 15 C&oacute;rdobas el taxi. Diga al ayudante del bus que se detenga en el Rancho Esperanza o &quot;Rancho de Nato.&quot; El precio es 25 C&oacute;rdobas y el tiempo del viaje es 1.5 &ndash; 2 horas. </p>

<table>
  <caption>Horario de los Buses</caption>
  <thead>
    <tr>
      <th scope="col">Salen de Chinandega</th>
      <th scope="col">Llegan El Viejo</th>
      <th scope="col">Llegan a Jiquilillo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>7:00am</td>
      <td>7:30am</td>
      <td>8:30am</td>
    </tr>
    <tr>
      <td>10:00am</td>
      <td>10:30am</td>
      <td>11:30am</td>
    </tr>
    <tr>
      <td>11:30am</td>
      <td>12:30pm</td>
      <td>1:30pm</td>
    </tr>
    <tr>
      <td>3:00pm</td>
      <td>3:30pm</td>
      <td>5:00pm</td>
    </tr>
    <tr>
      <td>4:30pm</td>
      <td>5:00pm</td>
      <td>6:30pm</td>
    </tr>
  </tbody>
</table>

<h3>Llegando por Taxi</h3>
<p>Podemos proporcionar recogidas directas desde cualquiera de las ciudades, tambien para grupos. Por favor ll치menos para organizar un viaje directo al Rancho Esperanza. </p>

<aside class="call-to-action">
  <p>Aun sin aviso previo son bienvenidos, pero agradecer&iacute;amos reservaciones con antelaci&oacute;n. Si tienen preguntas o si les gustar&iacute;a hacer una reservaci&oacute;n, ll&aacute;menos al <a class="icon icon--inline icon--phone nowrap" href="tel:+50588791795">+505 8 879 1795</a> o env&iacute;en un correo al <a class="icon icon--inline icon--email nowrap" href="mailto:stay@rancho-esperanza.com">stay@rancho-esperanza.com</a>.</p>
</aside>
