---
title: "Rancho Esperanza - Hotel en Jiquilillo"
description: "Hotel, restaurante, dormitarios, tablas de surf, trabajos voluntarios en Playa Jiquilillo, Nicaragua"
layout: es.hbs
---
<h1 class="is-visually-hidden">Rancho Esperanza</h1>

<h2>Donde puede hacer mucho o poco y todav&iacute;a hacer una diferencia.</h2>

<p>Ubicado frente a la id&iacute;lica playa de Jiquilillo, nuestro hotel de bajo impacto y vida natural, combina con proyectos que activamente benefician al pueblo.</p>

<figure>
  <img src="assets/images/photo-home-beach.jpg" width="575" height="291" alt="">
  <figcaption>Nuestro casa de la playa y ramada hecha de hojas de cocos provienen sombra para dos &aacute;reas de hamacas que reciben una brisa fresca del mar.</figcaption>
</figure>

<p>Si usted est&aacute; buscando escapar, contemplar, crear, hacer surf, o simplemente relajarse durante algunos d&iacute;as, Rancho Esperanza permite hacerlo en el hermoso entorno de las playas de Jiquilillo, donde puede estar seguro que su presencia y brindar&aacute; un beneficio a la comunidad.</p>

<figure class="pull-right">
  <img src="assets/images/photo-home-nate.jpg" width="350" height="263" alt="">
  <figcaption>Nato est&aacute; leyendo en su biblioteca multiling&uuml;e de m&aacute;s de 300 libros durante el atardecer dentro del rancho principal.</figcaption>
</figure>

<p>Si usted quiere una nueva perspectiva, nuestras oportunidades de voluntarios le dan el chance de participar en nuestros proyectos de la comunidad, incluso ser modelos positivos para los j&oacute;venes que participan en nuestro Club de Ni&ntilde;os, hacer artes creativos, y ense&ntilde;ar ingl&eacute;s.</p>

<p>Para los aventureros, nosotros y la comunidad ofrecemos lecciones de surf, kayak, subidas del Volc&aacute;n Cosig&uuml;ina, paseos en caballo por la playa, y excursiones culturales.</p>

<h2>Alojamiento</h2>
<p>Se puede elegir de dos dormitorios con seis camas en cada uno, siete caba&ntilde;as privadas de bamb&uacute; con capacidad m&aacute;xima de cuatro personas en cada uno, y un grandioso espacio con sombra para su tienda de campa&ntilde;a o hamaca.</p>
<div class="l-columns">
  <div class="l-columns__primary">
    <table>
      <thead class="is-visually-hidden">
        <tr>
          <th scope="col">Tipo</th>
          <th scope="col">Precio</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Hamaca/Carpa&nbsp;de&nbsp;Campa침a</td>
          <td>U$5</td>
        </tr>
        <tr>
          <td>Dormitorio Tambo</td>
          <td>U$8</td>
        </tr>
        <tr>
          <td>Dormitorio Quieto</td>
          <td>U$10.25</td>
        </tr>
        <tr>
          <td>Caba침a 1 persona</td>
          <td>U$20</td>
        </tr>
        <tr>
          <td>Caba&ntilde;a 2 personas</td>
          <td>U$25</td>
        </tr>
        <tr>
          <td>Caba&ntilde;a 3 personas</td>
          <td>U$32</td>
        </tr>
        <tr>
          <td>Caba&ntilde;a 4 personas</td>
          <td>U$35</td>
        </tr>
      </tbody>
    </table>
    <div class="note">
      <p>2% discrepancia <br> por cambio de moneda</p>
    </div>
  </div>

  <div class="l-columns__secondary">
    <figure>
      <img src="assets/images/photo-accom-cabana.jpg" width="350" height="215" alt="">
      <figcaption>Dentro de una caba침a de bajo impacto ambiental.</figcaption>
    </figure>
  </div>
</div>

<p>Voluntarios reciben descuentos. Tambi&eacute;n ofrecemos tarifas para la semana para hu&eacute;spedes y voluntarios que incluye comida, alojamiento, y agua.</p>

<p>Nosotros aceptamos C&oacute;rdobas y billetes no da&ntilde;ados en D&oacute;lares (de U$50 o menor), MasterCard, y VISA (hay 7% sobre impuesto de uso de tarjeta de cr&eacute;dito). No hay bancos ni cajeros autom&aacute;ticos en Jiquilillo.</p>

<h2>Alimento</h2>

<p>Servimos tres comidas al d&iacute;a para nuestros hu&eacute;spedes y voluntarios con especialidad en cocina vegetariana, Asi&aacute;tica, Nicarag&uuml;ense, y pescado asado y frito.</p>

<figure class="pull-right">
  <img src="assets/images/photo-accom-food.jpg" width="250" height="254" alt="">
  <figcaption>Un desayuno sano y fresco de Rancho Esperanza.</figcaption>
</figure>

<p>Comenzamos a servir el desayuno (U$3.50&ndash;U$4.50) desde las 7:30 a.m. (con opci&oacute;n de desayuno todo el d&iacute;a). Las opciones incluyen un plato grande de fruta, bagel, waffles, avena, huevos, y yogurt con granola.</p>

<p>Almuerzos (U$3.75) y cenas (U$5) son servidos al estilo familiar en nuestro comedor (ubicado en el rancho principal) con una opci&oacute;n vegetariana siempre disponible. </p>

<p>Tambi&eacute;n ofrecemos un men&uacute; de bocadillos, licuados, y postres.</p>


<h2>Encu&eacute;ntranos</h2>

<figure class="pull-right">
  <img src="assets/images/photo-find-map.jpg" width="350" height="287" alt="">
  <figcaption>Jiquilillo est&aacute; ubicado en la costa pac&iacute;fica noroeste de Nicaragua, una hora y media al norte de la ciudad de Chinandega.</figcaption>
</figure>

<p><strong>De Managua a Chinandega:</strong> Los buses salen cada 15 minutos del Mercado Israel en Managua. Hay dos opciones disponibles: un bus grande que tarda aproximadamente tres horas con costo m&aacute;s barato, o dos horas en un microb&uacute;s que tiene un costo de 60 C&oacute;rdobas. </p>

<p><strong>De Le&oacute;n a Chinandega:</strong> Los buses salen cada 15 minutos de Le&oacute;n. Los buses grandes tardan 1.5 horas y los microbuses 45 minutos y cuestan aproximadamente 25 C&oacute;rdobas. </p>

<p><strong>De Chinandega a Jiquilillo:</strong> Los buses de Le&oacute;n y Managua llegan a la estaci&oacute;n del bus &quot;Mercado el Bisne&quot; donde se debe tomar un taxi o triciclo taxi al &quot;Mercadito.&quot; Los precios van desde 8 C&oacute;rdobas el triciclo a 15 C&oacute;rdobas el taxi. Diga al ayudante del bus que se detenga en el Rancho Esperanza o &quot;Rancho de Nato.&quot; El precio es 25 C&oacute;rdobas y el tiempo del viaje es 1.5 &ndash; 2 horas. </p>

<table>
  <caption>Horario del Buses</caption>
  <thead>
    <tr>
      <th scope="col">Buses Salen de Chinandega</th>
      <th scope="col">Llegan El Viejo</th>
      <th scope="col">Llegan a Jiquilillo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>7:00am</td>
      <td>7:30am</td>
      <td>8:30am</td>
    </tr>
    <tr>
      <td>10:00am</td>
      <td>10:30am</td>
      <td>11:30am</td>
    </tr>
    <tr>
      <td>11:30am</td>
      <td>12:30pm</td>
      <td>1:30pm</td>
    </tr>
    <tr>
      <td>3:00pm</td>
      <td>3:30pm</td>
      <td>5:00pm</td>
    </tr>
    <tr>
      <td>4:30pm</td>
      <td>5:00pm</td>
      <td>6:30pm</td>
    </tr>
  </tbody>
</table>

<h3>Llegando por Taxi</h3>
<p>Podemos proporcionar recogidas directas desde cualquiera de las ciudades. Por favor ll치menos para organizar un viaje directo al Rancho Esperanza. </p>

<aside class="call-to-action">
  <p>Reservations are appreciated, but drop-ins are welcome. If you're got any questions or if want to make a reservation? Please drop us a line on <a href="tel:+50588791795">+505 8 879 1795</a> (English and Spanish) or email us at <a href="mailto:stay@rancho-esperanza.com">stay@rancho-esperanza.com</a>.</p>
</aside>