{% extends "./templates/layouts/en.html" %}

{% set title = "Links & Recommendations" %}
{% set description = "Our recommended hostels, hotels, restaurants, volunteer organisations and schools within Nicarcagua." %}

{% block main %}

<h1>Links & Recommendations</h1>

<p>During our time in Nicaragua we've collected a number of recommendations for other lodgings, restaurants, activities and volunteer opportunties in our local area and in the country at large.</p>

<h2>Lodging</h2>
<h3>Chinandega</h3>
<ul>
  <li>Hotel San Jose +505 8474-6845</li>
  <li>Hotel California +505 2341-0936</li>
  <li>Hotel Don Mario +505 2341-4054</li>
</ul>

<h3>Leon</h3>
<ul>
  <li>Tortuga Booluda - <a href="http://www.tortugabooluda.com">www.tortugabooluda.com</a></li>
  <li>Lazy Bones - <a href="http://www.lazybonesleon.com">www.lazybonesleon.com</a></li>
</ul>

<h3>Managua</h3>
<ul>
  <li>Managua Hills - <a href="http://www.managuahills.com/index.html">www.managuahills.com</a></li>
  <li>Managua Backpackers - <a href="http://www.managuahostel.com">www.managuahostel.com</a></li>
  <li>Hotel Pyramide - <a href="http://www.lapyramidehotel.com">www.lapyramidehotel.com</a></li>

</ul>

<h3>Other lodging in Nicaragua</h3>
<ul>
  <li>Eco-Posada - Tisey - <a href="http://turismoruralnicaragua.com">www.turismoruralnicaragua.com</a></li>
  <li>Hospedaje Luna/Café Luz - Estelí - <a href="http://www.cafeluzyluna.com">www.cafeluzyluna.com</a></li>
  <li>Finca Magdalena - Isla Ometepe - <a href="http://www.fincamagdalena.com">www.fincamagdalena.com</a></li>
  <li>Hotel Con Corazon - Granada - <a href="http://www.hotelconcorazon.com">www.hotelconcorazon.com</a></li>
</ul>

<h2>Activities/schools in Nicaragua</h2>
<ul>
  <li>Ibis Tours - Jiquilillo - <a href="http://www.ibiskayaking.com">www.ibiskayaking.com</a></li>
  <li>Quetzel Trekkers - Leon - <a href="http://www.quetzaltrekkers.com">www.quetzaltrekkers.com</a></li>
  <li>Northward Nicaragua Tours - Matagalpa - <a href="http://www.adventure-nicaragua.com">www.adventure-nicaragua.com</a></li>
  <li>La Mariposa Spanish School and Hotel - La Concha (La Concepción) - <a href="http://www.mariposaspanishschool.com">www.mariposaspanishschool.com</a></li>
</ul>

<h2>Good eats</h2>
<ul>
  <li>Ola Verde -- Managua -- <a href="http://www.olaverdesa.com">www.olaverdesa.com</a></li>
  <li>La Casita -- Estelí</li>
  <li>El Pullazo Olé - Estelí - <a href="http://www.pullasosole.com">www.pullasosole.com</a></li>
  <li>Madre Tierra - Matagalpa</li>
  <li>El Castillo de Cacao - Matagalpa - <a href="http://www.elcastillodelcacao.com">www.elcastillodelcacao.com</a></li>
  <li>Kathy's Waffle House - Granada</li>
</ul>

<h2>Volunteering & Organizations in Nicaragua</h2>
<ul>
  <li>Olas de Esperanza -<a href="http://elcocoloconicaragua.com/who.php">www.elcocoloconicaragua.com/who.php</a></li>
  <li>Empowerment International -  <a href="http://empowermentinternational.org">www.empowermentinternational.com</a></li>
  <li>La Esperanza - <a href="http://www.la-esperanza-granada.org">www.la-esperanza-granada.org</a></li>
  <li>La Isla Foundation- <a href="http://www.laislafoundation.org">www.laislafoundation.org</a></li>
  <li>Volunteer South America - <a href="http://www.volunteersouthamerica.net">www.volunteersouthamerica.net</a></li>
</ul>

<h2>Guide books/sites</h2>
<ul>
  <li>Barefoot Atlas - <a href="http://barefootatlas.com">barefootatlas.com</a></li>
  <li>Moon Handbook - <a href="http://www.moon.com">www.moon.com</a></li>
  <li>BootsnAll - <a href="http://bootsnall.com">www.bootsnall.com</a></li>
  <li>Lonely Planet - <a href="http://lonelyplanet.com">www.lonelyplanet.com</a></li>
</ul>

{% endblock %}
