---
title: "Made by"
description: "Thanks to all those who helped"
---
<h1>Made by</h1>

<p>A lot of people have helped out with this website over the years:</p>

<ul>
  <li>We&rsquo;d like to thank Stephany, Elizabeth, Marissa for all their help.</li>
  <li>Thanks to Imara and Ben for their help with the translations.</li>
  <li>Thanks to Peter, over at <a href="http://tech-tonics.net/">tech-tonics.net</a>, and Richard for their technical assistance.</li>
  <li>Thanks to <a href="http://nicaraguamultimediaphotoshows.blogspot.com/">Kevin Gallagher</a>, Charley, and <a href="http://www.atraves.org/">Sherry</a> for the photographs.</li>
  <li>Thanks to Dan for the design pointers.</li>
</ul>

<p>Finally, we have some <a href="links-and-recommendations.html">recommendations</a> for other lodgings, restaurants, activities and volunteer opportunties in Nicaragua.</p>