---
title: "Pattern Lab"
description: "No index"
---
<h1>Patterns</h1>

<h2>Default styles</h2>

<p>Paragraph. Lorem ipsum <strong>strong dolor sit amet</strong>, <em>italics consectetur adipisicing elit</em>, sed do <a href="#">link eiusmod tempor incididunt ut labore</a> et dolore magna aliqua. <em><strong>strong italicsUt enim ad minim veniam</strong></em>, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>

<h3>Unordered list</h3>
<ul>
  <li>Unordered list item</li>
  <li>Unordered list item</li>
  <li>Unordered list item</li>
</ul>

<h3>Ordered list</h3>
<ol>
  <li>Ordered list item</li>
  <li>Ordered list item</li>
  <li>Ordered list item</li>
</ol>

<h3>Table</h3>
<table>
  <caption>Table Caption</caption>
  <thead>
    <tr>
      <th scope="col">Table heading</th>
      <th scope="col">Table heading</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Table Data</td>
      <td>Table Data</td>
    </tr>
    <tr>
      <td>Table Data</td>
      <td>Table Data</td>
    </tr>
  </tbody>
</table>

<h3>Figure</h3>
<figure>
  <img src="assets/images/photo-home-beach.jpg" alt="">
  <figcaption>Figure caption</figcaption>
</figure>

<h2>Layout</h2>
<h3>Content</h3>
<div class="l-columns">
  <div class="l-columns__primary" style="background:pink;">
    Primary content
  </div>
  <div class="l-columns__secondary" style="background:green;">
    Secondary content
  </div>
</div>
<h3>Content 70/30</h3>
<div class="l-columns l-columns--70-30">
  <div class="l-columns__primary" style="background:pink;">
    Primary content
  </div>
  <div class="l-columns__secondary" style="background:green;">
    Secondary content
  </div>
</div>
<br>
<div class="note">
  <p>Note. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore.</p>
</div>

<aside class="call-to-action">
  <p>Textual call to action</p>

  <p class="call-to-action__item call-to-action__item--primary"><a href="activities-and-excursions.html">Primary call to action</a>

  <p class="call-to-action__item"><a href="finding-us.html">Secondary call to action</a>
</aside>