---
id: volunteer
title: "Volunteer opportunities & volunteering in Nicaragua."
description: "We offer volunteer opportunities within working with children, creative arts, surfing and gardening."
---
<h1>Volunteer and Internship Opportunities</h1>

<p>We are a small scale, hands-on initiative that relies on the contribution and commitment of volunteers to carry out our community work. So we are always looking to welcome new people into our volunteer family.</p>

<h2>Hostel and Projects Management</h2>

<p>We are currently looking for a volunteer to help manage the hostel and community projects&mdash;in exchange for room and board&mdash;for three months beginning at the start of <strong>August 2013</strong>. You must speak a minimum of Intermediate Spanish and be fluent in English.</p>

<p>We are also accepting applicants for the <strong>November 2014 through August 2015</strong> season. You must be able to commit to the full ten months. This is a paid position and room and board is included.</p>

<h2>Kids Club</h2>

<figure>
  <img src="assets/images/photo-vol-club.jpg" width="550" height="353" alt="">
  <figcaption>Nate, on the left, with volunteers Andrea, Nicki, Lily and Richard in Kids Club.</figcaption>
</figure>

<p>We are always looking for volunteers to be positive role models for the children during <a href="mission-and-projects.html#kids-club" title="Learn about Kids Club">Kids Club</a>. Our after-school program runs from 2&ndash;4p.m., five days a week. The children engage in arts and crafts projects, reading time, indoor and outdoor games, science projects, and homework help, should they request it. We would love it if you brought with you great ideas for arts and crafts projects or fun and educational games to share with the kids.</p>

<p>You will need basic Spanish skills and be able to commit to a stay of at least two weeks to create a consistent environment for the children. References and details of experience with children may be requested.</p>

<h2>Teacher Assistance</h2>

<p>Ideally, this intern will have studied or is currently studying international education or development or is currently a teacher, is fluent in Spanish, and is in a position to make a three-month minimum commitment. The intern will be working daily in the local primary school in the form of teacher assistance and tutoring for those children who are falling behind in their studies, as well as working within the Kids Club. We will provide any documentation required for the intern to receive college credit, if requested.</p>

<h2>Teaching English</h2>

<p>For the past few years we have been assisting university students with English classes and are now providing classes for local children as well. The teachers are expected to plan lessons, give 1.5 hour classes per day for University students (two or three days per week) and one hour per day (five days a week) for local children, and give assignments to students. TOEFL certification is requested, but not necessary. There is a minimum one-month commitment.</p>

<h2>Surf Club</h2>

<figure class="pull-right">
  <img src="assets/images/photo-vol-surf.jpg" width="250" height="322" alt="">
  <figcaption>Oniel and Jefferson&mdash;winners of Jiquilillo&rsquo;s First Annual Surf Competition</figcaption>
</figure>

<p>If you have the energy and the know-how, we&rsquo;d love for you to teach local youth as well as hostel guests how to surf and maintain boards. Once a week you&rsquo;ll lead or assist with a beach clean-up and environmental awareness activity with the <a href="mission-and-projects.html#surf-club" title="Learn about Surf Club">Surf Club</a> participants. A minimum of intermediate level Spanish is required and we ask for at least a one-month commitment.</p>

<p>Female surfers are especially encouraged to apply. We&rsquo;d love help getting more of Jiquilillo&rsquo;s strong young women into the water as they are underrepresented.</p>

<h2>Home Stay Program</h2>

<p>We need volunteers or interns who are fluent in Spanish and interested in working directly with local families to implement a home stay program. Volunteers/interns are expected to meet with families, visit their homes and assess what improvements are needed, and help improve their homes so that they can house travelers. Volunteers/interns are expected to give &ldquo;classes&rdquo; on how to host a traveler and accommodate their needs while teaching them about their culture. Volunteers/interns are asked to stay a minimum of three months. We will provide any documentation required for the intern to receive college credit, if requested.</p>

<h2>Creative Arts</h2>

<figure>
  <img src="assets/images/photo-vol-creative.jpg" width="550" height="277" alt="">
  <figcaption>Isaac, Margaret and Michela&rsquo;s mural on the side of the main dormitory.</figcaption>
</figure>

<p>The Rancho and the wider property is a true multi-purpose space serving children, travelers, and the volunteer family. Creating an inspiring environment that fits with the natural beauty of Jiquilillo is important to us. No one said the simple life was ugly or plain! If you&rsquo;re a carpenter who can incorporate natural materials like driftwood with functional design, or an artist who can paint a mural, create mosaics or sculpt, let our home be your workshop.</p>

<h2>Business Assistance Coordinator</h2>

<p>We are looking for volunteers/interns to give business assistance; accounting, inventory, cost/profit analysis, marketing/advertising, and advice on how to improve local tourism businesses. Volunteers/interns are asked to stay a minimum of three months. We will provide any documentation required for the intern to receive college credit, if requested.</p>

<h2>Expanding our Cultural Excursions</h2>

<p>We are looking for fluent Spanish speakers to work directly with locals to become tour guides within the local community. Our goal is to take every day living activities and incorporate them into an activity that a traveler would find interesting to learn. Thus far we offer five activities for guests and have taught locals how to lead them. We have new ideas and would like assistance in developing them. Volunteers are asked to stay a minimum of one month.</p>

<h2>Green Projects</h2>

<figure>
  <img src="assets/images/photo-vol-garden.jpg" width="575" height="348" alt="">
  <figcaption>Ben&rsquo;s &ldquo;El Jardin del Amor de la Tierra&rdquo;.</figcaption>
</figure>

<p>If you have ideas on how to increase the sustainability of Rancho life, please let us know. For example, we have the compost, we have the space, we even have willing hands&helisp; but some more green fingers would be great. If you&rsquo;re an expert on what grows well where, and have some good container ideas to get us above the wet season puddles you could really make a valuable contribution here. To make sure there is time to do the job well, we require someone with experience gardening in dry tropical climates to come for a minimum of one month.</p>

<h2>Rancho Accounting</h2>

<p>We are looking for a Microsoft Excel expert to help update our accounting system. References or examples of prior work are requested. We require you stay to complete the project and train us on how to use it.</p>

<aside class="call-to-action">
  <p>If you'd like to get involved, please email us. We&rsquo;re open to new projects and ideas! If you have an idea that isn&rsquo;t listed but that you think would benefit Jiquilillo or Rancho life, and you&rsquo;ve got the time and skills to put that project in motion, please let us know by emailing us at <a href="mailto:hola@rancho-esperanza.com">hola@rancho-esperanza.com</a>!</p>

  <p class="call-to-action__item call-to-action__item--primary"><a href="accommodation-and-prices.html">See what accommodation we offer (and our volunteer discounts).</a></p>
</aside>