html {
  font-size: 100%;
}

body {
  background: white;
  color: black;
  font-family: font-family-bitter;
  font-size: 1em;
  line-height: 1.6;
  margin: 0;
  .old-ie & {
    padding-left: 15px;
    padding-right: 15px;
    width: 605px;
  }
}



/* =links */
a {
  color: green;
  border-bottom: 0.063em dotted green;
  text-decoration: none;
  &:focus {
    outline: thin dotted;
  }
  &:active,
  &:hover {
    border-bottom-style: solid;
    text-decoration: none;
  }
}



/* =heading content */
h1,
h2,
h3 {
  clear: both;
  font-family: Paprika, cursive;
  font-weight: normal;
  line-height: 1.4;
  margin: 0 0.5em 1.5em 0.5em;
  text-align: center;
}

h1 {
  font-size: 2em;
  @media mq-medium {
    font-size: 2.375em;
  }
}

h2 {
  font-size: 1.5em;
  padding-top: 1em;
  @media mq-medium {
    font-size: 2em;
  }
}

h3 {
  font-size: 1.25em;
  padding-top: 1em;
  @media mq-medium {
    font-size: 1.5em;
  }
}

h1 + h2,
h2 + h3 {
  padding-top: 0;
}



/* =text-level semantics */
address {
  font-style: normal;
}

small {
  font-size: 1em;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}



/* =grouping content */
p {
  margin: 0 0 2em 0;
}


/* ==lists */
dl,
ul,
ol {
  margin: 0 0 2em 0;
}


/* ==table */
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 2em;
  width: 100%;
}

caption {
  font-weight: bold;
  text-align: left;
}

th,
td {
  font-size: 14px;
  padding-right: 0.5em;
  text-align: left;
  vertical-align: top;
}



/* =embedding content */
img {
  border: none;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  .old-ie & {
    interpolation-mode: bicubic;
  }
}

figure {
  clear: both;
  display: table;
  margin: 1em auto 2em auto;
  max-width: 100%;
  text-align: center;
  img {
    display: table-cell;
    width: 100%;
    .old-ie & {
      display: block;
      width: auto;
    }
  }
}

figcaption {
  caption-side: bottom;
  color: grey;
  display: table-caption;
  font-size: 0.813em;
  font-style: italic;
  max-width: 100%;
  padding: 1em 3% 0 3%;
  text-align: center;
}
