* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  background: white url("../images/common-bg.jpg") center top repeat;
  color: black;
  font-family: font-family-bitter;
  font-feature-settings: "liga" 1, "kern";
  font-size: 1em;
  line-height: 1.6;
  margin: 0;
  padding: 0 0.25em;
  text-rendering: optimizeLegibility;
  .old-ie & {
    margin: auto;
    padding: 0 15px;
    position: relative;
    width: 800px;
  }
  @media mq-narrow {
    padding: 0 1em;
  }
  @media mq-medium {
    padding: 0 2em;
  }
}



/* =links */
a {
  color: green;
  border-bottom: 1px dotted green;
  text-decoration: none;
  word-wrap: break-word;
  &:focus {
    outline: thin dotted;
  }
  &:active,
  &:hover {
    border-bottom-style: solid;
    text-decoration: none;
  }
  &:active {
    transform: translate(0,1px);
  }
}



/* =heading content */
h1,
h2,
h3 {
  clear: both;
  font-family: Paprika, cursive;
  font-weight: normal;
  line-height: 1.4;
  margin-bottom: 1em;
  padding: 0 0.5em 0.75em 0.5em;
  text-align: center;
}

h1 {
  background: url('../images/common-swiggle.svg') no-repeat bottom center;
  font-size: 1.625em;
  @media mq-narrow {
    font-size: 1.875em;
  }
  @media mq-medium {
    font-size: 2.375em;
  }
}

h2 {
  background: url('../images/common-wave.svg') no-repeat bottom center;
  font-size: 1.375em;
  padding-top: 1em;
  @media mq-narrow {
    font-size: 1.5em;
  }
  @media mq-medium {
    font-size: 2em;
  }
}

h3 {
  font-size: 1em;
  padding-top: 1em;
  @media mq-narrow {
    font-size: 1.25em;
  }
  @media mq-medium {
    font-size: 1.5em;
  }
}

h1 + h2,
h2 + h3 {
  padding-top: 0;
}



/* =text-level semantics */
address {
  font-style: normal;
}

small {
  font-size: 1em;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}



/* =grouping content */
p {
  margin: 0 0 2em 0;
}


/* ==lists */
dl,
ul,
ol {
  margin: 0 0 2em 0;
  padding-left: 1em;
  @media mq-narrow {
    padding-left: 2em;
  }
}



/* ==table */
table {
  border-spacing: 0;
  margin-bottom: 2em;
  width: 100%;
}

caption {
  font-weight: bold;
  text-align: left;
}

th,
td {
  border-bottom: 0.071em solid grey-lighter;
  font-size: 0.875em;
  padding: 0.5em;
  text-align: left;
  vertical-align: top;
}

tr:last-child {
  td {
    border-bottom-width: 0;
  }
}



/* =embedding content */
img {
  border: none;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  .old-ie & {
    ms-interpolation-mode: bicubic;
  }
}

figure {
  clear: both;
  margin: 0.5em auto 2em auto;
  max-width: 100%;
  text-align: center;
}

figcaption {
  color: grey;
  font-size: 0.813em;
  font-style: italic;
  padding: 1em 3% 0 3%;
  text-align: center;
}
