// (SIL Open Font License, 1.1 from http://www.huertatipografica.com.ar)
@font-face {
  font-family: 'Bitter';
  src:url('../fonts/bitter-regular-webfont.eot');
  src:url('../fonts/bitter-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/bitter-regular-webfont.woff') format('woff'),
    url('../fonts/bitter-regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Bitter';
  src:url('../fonts/bitter-italic-webfont.eot');
  src:url('../fonts/bitter-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/bitter-italic-webfont.woff') format('woff'),
    url('../fonts/bitter-italic-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Bitter';
  src:url('../fonts/bitter-bold-webfont.eot');
  src:url('../fonts/bitter-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/bitter-bold-webfont.woff') format('woff'),
    url('../fonts/bitter-bold-webfont.ttf') format('truetype')
  font-weight: 700;
  font-style: normal;
}


// (SIL Open Font License, 1.1)
@font-face {
  font-family: 'Paprika';
  src:url('../fonts/paprika-regular-webfont.eot');
  src:url('../fonts/paprika-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/paprika-regular-webfont.woff') format('woff'),
    url('../fonts/paprika-regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


// (SIL Open Font License, 1.1)
@font-face {
  font-family: 'rejn-icomoon';
  src:url('../fonts/rejn-icomoon.eot');
  src:url('../fonts/rejn-icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/rejn-icomoon.woff') format('woff'),
    url('../fonts/rejn-icomoon.ttf') format('truetype'),
    url('../fonts/rejn-icomoon.svg#icomoon') format('svg');
  font-weight: 400;
  font-style: normal;
}
