/* =call-to-action */
.call-to-action {
  background: grey-lightest;
  clear: both;
  margin-bottom: 2em;
  padding: 2em 2em 1px 2em;
  text-align: center;
}

.call-to-action__items {
  margin-bottom: 1em;
  padding: 0;
}

.call-to-action__item {
  list-style: none;
  padding-bottom: 1em;
}

.call-to-action__item-inner {
  border-radius: 4px;
  border: 1px solid grey-light;
  box-shadow: 1px 1px 1px rgba(50, 50, 50, 0.25);
  display: block;

  padding: 1em;
  &:hover {
    border: 1px solid grey-light;
    box-shadow: none;
  }
}



/* =embed */
.embed {
  height: 0;
  overflow: hidden;
  padding-bottom: 80%;
  padding-top: 30px;
  position: relative;
}

.embed__inner {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}



/* =icon */
.icon:before {
  font-family: 'icomoon';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  padding-right: 0.5em;
  speak: none;
  text-transform: none;
}

.icon--envelop:before {
  content: "\e000";
}

.icon--quill:before {
  content: "\e001";
}

.icon--facebook:before {
  content: "\e002";
}

.icon--arrow-right:before {
  content: "\e003";
}

.icon--bubbles:before {
  content: "\e004";
}

.icon--menu:before {
  content: "\e005";
}

.icon--phone:before {
  content: "\e006";
}

.icon--dollar:before {
  content: "\e007";
}



/* =note */
.note {
  color: grey;
  border: 1px solid grey-lightest;
  margin-bottom: 2em;
  padding: 2em 2em 0 2em;
  text-align: center;
}



/* =pull-right */
.pull-left {
  @media mq-medium {
    float: left;
    margin-right: 2em;
  }
}



/* =pull-right */
.pull-right {
  @media mq-medium {
    float: right;
    margin-left: 2em;
  }
}
