/* =banner */
.banner {
  margin: 0;
  text-align: center;
  padding-top: 2.5em;
  @media mq-medium {
    padding-top: 7.3em;
  }
  @media mq-wide {
    padding-top: 4.8em;
  }
}

.banner__branding {
  background: white;
  margin: 0 auto;
  max-width: 50em;
  padding: 0 5%;
}

.banner__logo {
  margin: 2em 0 1em 0;
}

.banner__tagline {
  font-size: 1.250em;
  font-family: font-family-paprika;
  margin: 0;
  @media mq-medium {
    font-size: 1.500em;
  }
  @media mq-wide {
    font-size: 1.750em;
  }
}

.banner__nav {
  background: green-dark;
  left: 0;
  line-height: 19px;
  min-height: 2.5em;
  position: absolute;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  top: 0;
  width: 100%;
  .old-ie & {
    *height: 2.65em;
  }
}

.banner__nav-inner {
  @media mq-medium {
    max-width: 66em;
    margin: 0 auto 2em auto;
    position: relative;
  }
}

.banner__menu {
  font-size: 0.875em;
  position: absolute;
  right: 5%;
  top: 0;
  color: white;
  border-bottom-style: none;
  padding-top: 0.75em;
  &:hover {
    border-bottom-color: green;
  }
  @media mq-medium {
    display: none;
  }
}

.banner__lang-selector {
  font-size: 0.875em;
  border-bottom-style: none;
  color: white;
  left: 5%;
  position: absolute;
  top: 0;
  padding-top: 0.75em;
  z-index: 1;
  &:hover {

    border-bottom-color: green;
  }
  @media mq-medium {
    padding-top: 0.7em;
  }
  @media mq-wide {
    left: 0;
  }
}


/* ==banner--es */
.banner--es {
  @media mq-medium {
    padding-top: 2em;
  }
  .banner__nav {
    @media mq-medium {
      box-shadow: 0 .25em 0 rgba(0, 0, 0, 0.2);
    }
  }
}


/* ==banner--campaign */
.banner--campaign {
  padding-top: 0;
  @media mq-medium {
    margin-bottom: 0;
  }
}



/* =main */
.main {
  background: white;
  margin: 0 auto;
  max-width: 50em;
  padding: 1em 5%;
  position: relative;
  @media mq-medium {
    padding-top: 2em;
  }
  .old-ie & {
    padding: 1em 0;
  }
}



/* =navigation */
.navigation {
  margin-top: 2em;
  background: green;
  font-size: 0.875em;

  @media mq-medium {
    left: 0;
    margin: 0;
    padding: 0.25em 0;
    position: absolute;
    text-align: center;
    top: 2.80em;
    top: 2.60em;
    width: 100%;
    border-bottom: 1px solid darken(green, 10%);
    border-top: 1px solid white;
    box-shadow: 0 .25em 0 rgba(0, 0, 0, 0.2);
  }
}

.navigation__inner {
  margin: 0;
  padding: 0;
  @media mq-medium {
    margin: 0 auto;
    padding: 0 5%;
    max-width: 45em;
  }
  @media mq-wide {
    max-width: none;
    padding: 0;
  }
}

.navigation__item {
  padding: 0.5em 0;
  margin: 0;
  list-style: none;
  border-bottom: 1px solid green-dark;
  &::after {
    float: right;
  }
  &:last-child {
    border-bottom: none;
  }
  &.is-active {

  }
  @media mq-medium {
    border-bottom: none;
    display: inline-block;
    margin-right: 0.1em;
    padding-left: 0.1em;
    &:last-child {
      margin-right: 0;
    }
  }
}

.navigation__item-inner {
  border-bottom-color: green;
  color: white;
  display: block;
  margin: 0 5%;
  padding: 0.5em 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  &::after {
    font-family: font-family-icomoon;
    content: '\e600';
    float: right;
  }
  &:hover {
    border-bottom-color: green;
    text-shadow: none;
  }
  .is-active & {
    font-style: italic;
    &::after {
      content: '\e605';
      //content: '\e600';
      font-style: normal;
    }
  }
  @media mq-medium {
    padding: 0.5em 0.6em;
    border: none;
    display: inline;
    margin: 0;
    &::after {
      content '\00B7';
      padding-left: 0.25em;
      font-family: font-family-bitter;
    }
    .is-active & {
      font-style: normal;

      background: green-dark;
      &::after {
        content '\00B7';
      }
    }
  }
}

.navigation__item--end {
  @media mq-medium {
    .navigation__item-inner {
      &::after {
        display: none;
      }
    }
  }
}

.navigation__item--middle {
  @media mq-wide {
    .navigation__item-inner {
      &::after {
        display: inline-block;
      }
    }
  }
}





/* =complementary */
.complementary {
  background: green-dark;
  color: white;

  padding: 0.75em 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  border-top: 1px solid white;
  @media mq-medium {
    width: 100%;
    padding: 0.65em 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    z-index: 0;
    border-top: none;
  }
}

.complementary__inner {
  padding: 0;
  margin: 0 5%;
  clear: fix;
  @media mq-wide {
    max-width: 64.5em;
    text-align: right;
    margin: 0 auto;
    padding: 0;
    border-top: none;
  }
}

.complementary__item {
  display: block;
  list-style: none;
  padding: 0.5em 0;
  line-height: 17px;
  font-size: 0.875em;
  @media screen and (min-width: 28em) {
    float: left;
  }
  @media mq-medium {
    float: right;
    padding: 0 0 0 1.5em;

  }
}

.complementary__item--secondary {
  @media screen and (min-width: 28em) {
    float: right;
    text-align: right;
  }
  @media mq-medium {
    border-right: 1px solid green;
    padding-right: 1.5em;
  }
}

.complementary__item-inner {
  color: white;
  border-bottom-color: green-dark;
  &:hover {
    border-bottom-color: green;
  }
}



/* =contentinfo */
.contentinfo {
  color: grey;
  background: grey-lightest;
  border-top: 1px solid #f4f4f4;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  max-width: 50em;
  padding: 1em 5% 0 5%;
  margin: 0 auto;
}

.contentinfo__inner {
  padding: 2em 0 1em 0;
}

.contentinfo__external {
  clear: fix;
  padding: 0;
  max-width: 36em;
  margin: 0 auto 1em auto;
}

.contentinfo__external-item {
  display: block;
  list-style: none;
  margin: 0 0 2em 0;
  padding: 0;
}

.contentinfo__external-item--facebook {
  background: white;
  font-size: 0.813em;
  height: 95px;
  line-height: 100px;
  margin-left: auto;
  margin-right: auto;
  overflow:hidden;
  width: 195px;
  @media screen and (min-width: 28em) {
    float: left;
    width: 195px;
  }
}

.contentinfo__external-item--tripadvisor {
  @media screen and (min-width: 28em) {
    float: right;
    width: 152px;
  }
}

.contentinfo__body {
  font-size: 0.750em;
}

.contentinfo__body--made-by {
  margin-bottom: 1em;
}
