/* =banner */
.banner {
  background: green;
  color: white;
  margin: 0 0 1em 0;
  text-align: center;
  padding-top: 1em;
  @media mq-medium {
    padding-bottom: 8em;
  }
}

.banner__menu {
  position: absolute;
  right: 2.5%;
  top: 0;
  color: white;
  border-bottom: none;
  @media mq-medium {
    display: none;
  }
}

.banner__lang-selector {
  border-bottom: none;
  color: white;
  left: 2.5%;
  position: absolute;
  top: 0;
}


/* ==banner--es */
.banner--es {
  @media mq-medium {
    margin-bottom: 1em;
  }
}


/* ==banner--campaign */
.banner--campaign {
  @media mq-medium {
    margin-bottom: 0;
  }
}



/* =main */
.main {
  margin: 0 auto;
  max-width: 46em;
  padding: 2em 5%;
  position: relative;
}



/* =navigation */
.navigation {
  margin-top: 2em;
  @media mq-medium {
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 14em;
    width: 100%;
  }
}

.navigation__inner {
  padding: 0;
  @media mq-medium {
    margin: 0 auto;
    max-width: 46em;
  }
}

.navigation__item {
  padding: 0.5em 0;
  margin: 0;
  list-style: none;
  border-bottom: 1px dashed grey-light;
  &.is-active {
    color: black;
  }
  &::after {
    float: right;
  }
  &:last-child {
    border-bottom: none;
  }
  @media mq-medium {
    border-bottom: none;
    display: inline-block;
    margin-right: 0.5em;
    padding-left: 0.5em;
    &:last-child {
      margin-right: 0;
    }
  }
}

.navigation__item-inner {
  display: block;
  border: none;
  margin: 0 5%;
  &::after {
    content: '>';
    float: right;
  }
  &:hover {
    border: none;
    color: black;
  }
  @media mq-medium {
    color: white;
    border: none;
    display: inline;
    margin: 0;
    &::after {
      display: none;
    }
    .is-active & {
      color: black;
    }
  }
}



/* =complementary */
.complementary {
  @media mq-medium {
    position: absolute;
    right: 2.5%;
    text-align: right;
    top: 0;
  }
}

.complementary__inner {
  padding: 0;
  margin: 0 5%;
  @media mq-medium {
    margin: 0;
  }
}

.complementary__item {
  list-style: none;
  padding: 0;
}

.complementary__item-inner {
  @media mq-medium {
    border: none;
    color: white;
  }
}



/* =contentinfo */
.contentinfo {
  border-top: 1px solid grey-light;
  color: grey-light;
  margin-top: 3em;
  text-align: center;
  padding-top: 1em;
  @media mq-medium {
    margin-top: 3em;
  }
}

.contentinfo__inner {
  margin: 0 auto 0 auto;
  max-width: 46em;
  padding: 2em 5%;
}

.contentinfo__external {
  clear: fix;
  padding: 0;

}

.contentinfo__external-item {
  display: block;
  list-style: none;
  margin: 0 0 1em 0;
  padding: 0;
}

.contentinfo__external-item--facebook {
  @media screen and (min-width: 28em) {
    float: left;
    width: 195px;
  }
}

.contentinfo__external-item--tripadvisor {
  @media screen and (min-width: 28em) {
    float: right;
    width: 152px;
  }
}
