/* =banner */
.banner {
  margin: 0;
  padding-top: 2.25em;
  text-align: center;
  @media mq-wide {
    padding-top: 4.938em;
  }
}

.banner__nav {
  background: green-darker;
  box-shadow: 0 0.25em 0 rgba(0, 0, 0, 0.2);
  left: 0;
  line-height: 1.25;
  min-height: 2.25em;
  position: absolute;
  text-shadow: 0.063em 0.063em 0.125em rgba(0, 0, 0, 0.4);
  top: 0;
  width: 100%;
  z-index: 4;
  .old-ie & {
    *height: 2.65em;
  }
  @media mq-wide {
    box-shadow: none;
    z-index: auto;
  }
}

.banner__nav-inner {
  @media mq-medium {
    margin: 0 auto 2em auto;
    max-width: 66.5em;
    position: relative;
  }
}

.banner__menu {
  border-bottom-style: none;
  color: white;
  font-size: 0.875em;
  padding-top: 0.65em;
  position: absolute;
  right: 5%;
  top: 0;
  &:hover {
    border-bottom-color: green;
  }
  @media mq-wide {
    display: none;
  }
}

.banner__lang-selector {
  border-bottom-style: none;
  color: white;
  font-size: 0.875em;
  left: 5%;
  padding-top: 0.65em;
  position: absolute;
  top: 0;
  z-index: 4;
  &:hover {
    border-bottom-color: green;
  }
  @media mq-widest {
    left: 0;
  }
}

.banner__alert {
  color: #fff;
  background-color: #ed9c28;
  border: 0 solid green;
  border-width: 0 0.125em;
  text-shadow: 0.063em 0.063em 0.125em rgba(0, 0, 0, 0.4);
  margin: 0 auto;
  max-width: 56em;
  @media mq-medium {
    border-width: 0 0.25em;
  }
}

.banner__alert-inner {
  border-bottom: 1px solid #d58512;
  font-size: 0.875em;
  padding: 1em 5% 0.75em 5%;
  @media mq-medium {
    font-size: 1em;
    padding-bottom: 1em;
    padding-top: 1.25em
  }
  a {
    color: white;
    border-color: white;
  }
}


/* ==banner--es */
.banner--es {
  @media mq-medium {
    padding-top: 2.25em;
  }
  .banner__nav {
    @media mq-medium {
      box-shadow: 0 0.25em 0 rgba(0, 0, 0, 0.2);
    }
  }
}


/* ==banner--campaign */
.banner--campaign {
  padding-top: 0;
}



/* =main */
.main {
  background: white;
  border: 0 solid green;
  border-width: 0 0.125em;
  margin: 0 auto;
  max-width: 56em;
  padding: 1em 5%;
  //position: relative;
  //z-index: 1;
  @media mq-medium {
    border-width: 0 0.25em;
  }
  @media mq-wide {
    padding-top: 2em;
  }
}



/* =navigation */
.navigation {
  background: green;
  @media mq-wide {
    border-bottom: 0.063em solid green-dark;
    border-top: 0.063em solid white;
    box-shadow: 0 0.25em 0 rgba(0, 0, 0, 0.2);
    left: 0;
    margin: 0;
    padding: 0.25em 0;
    position: absolute;
    text-align: center;
    top: 2.25em;
    width: 100%;
    z-index: 5;
  }
}

.navigation__inner {
  margin: 0;
  padding: 0;
  @media mq-wide {
    margin: 0 auto;
  }
}

.navigation__item {
  border-bottom: 0.063em solid green-darker;
  list-style: none;
  margin: 0;
  padding: 0.5em 2.5%;
  text-shadow: 0.063em 0.063em 0.125em rgba(0, 0, 0, 0.4);
  &:last-child {
    border-bottom: none;
  }
  &:after {
    float: right;
  }
  @media mq-wide {
    border-bottom: none;
    display: inline-block;
    margin-right: 0.35em; // htmlmin issue
    padding-left: 0.1em;
    padding: 0.25em 0 0.25em 0.1em;
    &:last-child {
      margin-right: 0;
    }
  }
}

.navigation__item-inner {
  border-bottom-color: green;
  color: white;
  display: block;
  font-size: 0.875em;
  margin: 0;
  padding: 0.125em 2.5%;
  border-left: 4px solid green;
  border-bottom-width: 0;
  &:after {
    content: '\e600';
    float: right;
    font-family: font-family-icomoon;
  }
  &:hover {
    border-left-color: green-darker;
  }
  .is-active & {
    //font-style: italic;
    border-left-color: green-darker;
    &:after {
      content: '\e605';
      font-style: normal;
    }
  }
  @media mq-wide {
    border-width: 0;
    display: inline;
    margin: 0;
    padding: 0.5em 0.6em;
    &:after {
      content '\00B7';
      font-family: font-family-bitter;
      padding-left: 0.25em;
    }
    &:hover,
    .is-active & {
      background: green-darker;
      font-style: normal;
      &:after {
        content '\00B7';
      }
    }
  }
}

.navigation__item--end {
  @media mq-wide {
    .navigation__item-inner {
      &:after {
        display: none;
      }
    }
  }
}

.navigation__item-extra {
  @media mq-wide {
    display: none;
  }
  @media mq-widest {
    display: inline;
  }
}

.navigation__item-extra--about {
  @media screen and (min-width: 53em) {
    display: inline;
  }
}

.navigation__item-extra--projects {
  @media screen and (min-width: 59em) {
    display: inline;
  }
}

.navigation__item-extra--volunteer {
  @media screen and (min-width: 66em) {
    display: inline;
  }
}



/* =complementary */
.complementary {
  background: green-darker;
  border-top: 0.063em solid white;
  color: white;
  padding: 0.5em 0;
  text-shadow: 0.063em 0.063em 0.125em rgba(0, 0, 0, 0.4);
  @media mq-wide {
    background: transparent;
    border-top: none;
    left: 0;
    padding: 0.65em 0 0 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
}

.complementary__inner {
  clear: fix;
  margin: 0 5%;
  padding: 0;
  @media mq-widest {
    border-top: none;
    margin: 0 auto;
    max-width: 65.5em;
    padding: 0;
    text-align: right;
  }
}

.complementary__item {
  display: block;
  line-height: 1;
  list-style: none;
  padding: 0.5em 0;
  @media screen and (min-width: 28em) {
    float: left;
  }
  @media mq-wide {
    float: right;
    padding: 0 0 0 1.5em;
  }
}

.complementary__item--secondary {
  @media screen and (min-width: 28em) {
    float: right;
    text-align: right;
  }
  @media mq-wide {
    border-right: 1px solid green;
    padding-right: 1.5em;
  }
}

.complementary__item-inner {
  border-bottom-color: green-darker;
  color: white;
  font-size: 0.875em;
  &:hover {
    border-bottom-color: green;
  }
}



/* =contentinfo */
.contentinfo {
  background: grey-lightest;
  border: 0 solid green;
  border-width: 0 0.125em;
  color: grey;
  margin: 0 auto;
  max-width: 56em;
  padding: 1em 5% 0 5%;
  text-align: center;
  text-shadow: 0 0.063rem 0 white;
  @media mq-medium {
    border-width: 0 0.25em;
  }
}

.contentinfo__inner {
  padding: 2em 0 1em 0;
}

.contentinfo__external {
  clear: fix;
  margin: 0 auto 1em auto;
  padding: 0;
}

.contentinfo__external-item {
  display: block;
  list-style: none;
  margin: 0 0 1em 0;
  padding: 0;
  a {
    border-bottom: none !important;
  }
  @media mq-widest {
    float: left;
    width: 50%;
  }
}

.contentinfo__external-item--trip {
  padding-top: 1em;
  @media mq-widest {
    float: right;
  }
}

.contentinfo__external-item-img {
  display: inline-block;
  margin: 0 0.35em 0.5em 0.35em;
}

.contentinfo__facebook {
  background: white;
  font-size: 0.813em;
  height: 95px;
  line-height: 100px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  width: 195px;
  @media mq-narrow {
    margin-top: 15px;
  }
}

.contentinfo__body {
  font-size: 0.750em;
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}
