/* =l-columns */
.l-columns {
  clear: fix;
}

.l-columns__primary {
  @media mq-medium {
    float: left;
    width: 45%;
  }
}

.l-columns__secondary {
  @media mq-medium {
    float: right;
    width: 45%;
  }
}


/*==l-columns--70-30 */
.l-columns--70-30 {
  @media mq-medium {
    .l-columns__primary {
      width: 55%;
    }
    .l-columns__secondary {
      width: 35%;
    }
  }
}
