// = colours
white = #fff
black = #333
grey = lighten(black, 40%)
grey-light = lighten(black, 60%)
grey-lighter = lighten(black, 80%)
grey-lightest = lighten(black, 95%)
green = #8d9e57
green-dark = darken(green, 10%)
green-darker = darken(green, 25%)



// = fonts
font-family-bitter = Bitter, serif;
font-family-paprika = Paprika, cursive;
font-family-icomoon = rejn-icomoon



// = media queries: big breakpoints
//mq-first = "screen and (min-width: 1em)"
mq-narrow = "screen and (min-width: 34em)"
mq-medium = "screen and (min-width: 44em)"
mq-wide = "screen and (min-width: 48em)"
mq-widest = "screen and (min-width: 70em)"
