// = colours
white = #fff
black = #333
grey = lighten(black, 40%)
grey-light = lighten(black, 60%)
grey-lightest = lighten(black, 90%)



// = fonts
font-family-bitter = Bitter, serif;
font-family-paprika = Paprika, cursive;



// = media queries: big breakpoints
mq-medium = "screen and (min-width: 40em)"
